<!-- INNER PAGE BANNER START -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">MOT DU DIRECTEUR</h1>
      <!-- BREADCRUMB ROW START -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Mot du Directeur</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <div class="row">
      <!-- SIDE BAR START -->
      <div class="col-lg-7 col-md-12 rightSidebar">
        <aside class="side-bar">
          <div class="post-description-area p-t10">
            <div class="wt-post-title">
              <h2 class="post-title">Mot du Directeur</h2>
            </div>
            <div class="wt-post-text" style="text-align: justify">
              <p>
                Chers Membres de la BSTP-MALI, <br />
                Chers Partenaires,
              </p>

              <p>
                Le Secteur privé, moteur de toute économie en développement,
                reste confronté à des défis majeurs notamment la rareté des
                ressources adéquates et les crises multidimensionnelles au
                niveau national et mondial. De plus en plus, la sous-traitance
                et le partenariat entre les entreprises se posent comme des
                alternatives pour la croissance et la durabilité des PME / PMI
                en Afrique.
              </p>

              <p>
                Ainsi le cadre idéal de promotion de la sous-traitance, du
                partenariat et le développement du Contenu local dans tous les
                secteurs stratégiques de l’économie au Mali, reste la Bourse de
                Sous-Traitance et de Partenariat du Mali (BSTP-MALI) dont
                l’objectif principal est d’améliorer la compétitivité du Secteur
                privé Malien au niveau international.
              </p>

              <p>
                Aussi, le Réseau des Bourse de Sous-Traitance et de Partenariat
                de l’espace UEMOA est une opportunité pour l’ensemble des PME /
                PMI Malien qui souhaite élargir leurs clientèles dans la
                sous-région ouest africaine.
              </p>
              <p>
                La BSTP-MALI compte jouer toute sa partition pour l’atteinte des
                objectifs du CNPM dans sa mission d’accompagnement des
                entreprises maliennes.
              </p>

              <p>
                Nous vous souhaitons bonne visite du site officiel de la
                BSTP-MALI.
              </p>
              <div class="float-end">
                Ibrahima KOITA 
              </div>
            </div>
          </div>
        </aside>
      </div>
      <!-- SIDE BAR END -->
      <!-- LEFT PART START -->
      <div class="col-lg-5 col-md-12">
        <!-- BLOG START -->
        <div class="blog-post date-style-1 blog-post-single">
          <div class="wt-post-media wt-img-effect radius-md overflow-hide">
            <img src="assets/images/blog/default/thum1.jpg" alt="" />
          </div>
        </div>
        <!-- BLOG END -->
      </div>
      <!-- LEFT PART END -->
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
