<!-- INNER PAGE BANNER -->

<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b57 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 m-b30">
        <div class="wt-team-seven radius-md">
          <div class="wt-team-media wt-img-effect off-color">
            <img src="assets/images/our-team5/pic1.jpg" class="" alt="" />
          </div>
          <div class="wt-team-info text-left p-a20 p-r50 bg-white">
            <div class="bdr-3 bdr-left bdr-primary p-l10">
              <h4 class="wt-team-title m-t0 m-b5 text-uppercase">
                Lorem IPSUM
              </h4>
              <p>Consultant</p>
            </div>
            <div class="dropup">
              <button
                class="social-share-btn site-search-btn site-bg-primary dropup"
                data-bs-toggle="dropdown"
              >
                <i class="fa fa-share-alt text-white"></i>
              </button>
              <div class="dropdown-menu social-share-btn-content">
                <ul class="social-icons social-square">
                  <li>
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="fa fa-linkedin"></a>
                  </li>
                  <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                  <li>
                    <a href="javascript:void(0);" class="fa fa-youtube"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 m-b30">
        <div class="wt-info wt-team-full-info">
          <p style="text-align: justify">
            Lorem Ipsum est fort de 13 ans d’expérience dans le domaine des
            finances, de l’administration publique et de la gestion
            d’entreprise. Il a occupé différents rôles de premier plan,
            notamment à l’Agence de promotion des Investissements privés et au
            Fond de développement industriel et des PME. Titulaire d’un MBA de
            l’université de Sherbrooke et d’un GDBA de la Molson School of
            Business de Montréal, Saifoulaye est depuis juin 2022 Directeur
            Exécutif de la Bourse de sous-traitance et de Partenariat de la
            République. Il a engagé de vastes chantiers avec son équipe afin de
            revaloriser la participation des entreprises guinéennes dans les
            grands projets structurants en cours dans le pays, afin que le
            contenu local guinéen fasse partie intégrante des chaînes de valeurs
            minières et industrielles.
          </p>
          <!-- <p>
                                    <strong>when an unknown printer took a galley of type and scrambled it to make a type specimen book. dummy text of the printing and typesetting industry. Phasellus in risus quis lectus iaculis vulputate id quis nisl.</strong>
                                </p>
                                <ul class="list-check primary">
                                    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</li>
                                    <li>Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
                                    <li>Amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt</li>
                                </ul>                                     -->
        </div>
      </div>
      <div class="col-lg-3 col-md-12 m-b30">
        <div class="p-b20">
          <div class="wt-icon-box-wraper left p-tb15 p-lr10 clearfix bg-white">
            <div class="icon-sm">
              <span class="iconmoon-travel"></span>
            </div>
            <div class="icon-content">
              <h5 class="wt-tilte text-uppercase m-b0">Adresse</h5>
              <span class="display-block">Mali, Bamako</span>
            </div>
          </div>
        </div>
        <div class="p-tb20">
          <div class="wt-icon-box-wraper left p-tb15 p-lr10 clearfix bg-white">
            <div class="icon-sm">
              <span class="iconmoon-smartphone-1"></span>
            </div>
            <div class="icon-content">
              <h5 class="wt-tilte text-uppercase m-b0">Contact</h5>
              <span class="display-block">+223 70707070</span>
              <!-- <span class="display-block">+41 555 888 9585</span> -->
            </div>
          </div>
        </div>
        <div class="p-tb20">
          <div class="wt-icon-box-wraper left p-tb15 p-lr10 clearfix bg-white">
            <div class="icon-sm">
              <span class="iconmoon-email"></span>
            </div>
            <div class="icon-content">
              <h5 class="wt-tilte text-uppercase m-b0">Email</h5>
              <span class="display-block">loremipsum@gmail.com</span>
              <!-- <span class="display-block">info@demo1234.com</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="banner-map m-b30">
                        <div  class="google-map-gray google-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1671883239943!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div> -->
  </div>
</div>
<!-- SECTION CONTENT END -->
