<!-- INNER PAGE BANNER START -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">ANCIENS DIRECTEURS</h1>
      <!-- BREADCRUMB ROW START -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Anciens Directeurs</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- HOW IT WORK SECTION START  -->
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <!-- TITLE START-->
    <!-- <div class="section-head text-center">
                        <h2 class="text-uppercase">Consulting Company </h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator site-bg-primary"></div>
                        </div>                        
                    </div> -->
    <!-- TITLE END-->
    <div class="section-content">
      <div class="row d-flex ">
        <!-- COLUMNS 1 -->
        <div class="col-lg-4 col-md-6">
          <div class="wt-box m-b30 radius-md overflow-hide">
            <div class="wt-media wt-img-effect wt-img-overlay2">
              <a href="#"
                ><img src="assets/images/gallery/pic5.jpg" alt=""
              /></a>
            </div>
            <div class="wt-icon-box-wraper p-a20 left bg-white">
              <div class="icon-content bdr-4 bdr-left bdr-primary p-l20">
                <h5 class="wt-tilte text-uppercase m-b5">
                  <a href="services-detail.html"
                    >Tidjani COULIBALY (2009-2010)</a
                  >
                </h5>
                <p>
                  Conseiller technique CNPM a été désigné officiellement comme
                  Point Focal unique du projet de la BSTP-MALI. A ce titre, il
                  était en charge du dossier de la BSTP-MALI.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 2 -->
        <div class="col-lg-4 col-md-6">
          <div class="wt-box m-b30 radius-md overflow-hide">
            <div class="wt-media wt-img-effect wt-img-overlay2">
              <a href="#"
                ><img src="assets/images/gallery/pic7.jpg" alt=""
              /></a>
            </div>
            <div class="wt-icon-box-wraper p-a20 left bg-white">
              <div class="icon-content bdr-4 bdr-left bdr-primary p-l20">
                <h5 class="wt-tilte text-uppercase m-b5">
                  <a href="services-detail.html"
                    >Mamadou LANDOURE (2011-2013)</a
                  >
                </h5>
                <p>Ancien Directeur</p>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 3 -->
        <div class="col-lg-4 col-md-6">
          <div class="wt-box m-b30 radius-md overflow-hide">
            <div class="wt-media wt-img-effect wt-img-overlay2">
              <a href="#"
                ><img src="assets/images/gallery/pic4.jpg" alt=""
              /></a>
            </div>
            <div class="wt-icon-box-wraper p-a20 left bg-white">
              <div class="icon-content bdr-4 bdr-left bdr-primary p-l20">
                <h5 class="wt-tilte text-uppercase m-b5">
                  <a href="services-detail.html"
                    >Mamadou LANDOURE (2014-2019)</a
                  >
                </h5>
                <p>
                  Ancien direction de la direction nationale de l’industrie,
                  Ancien conseiller technique au Ministère de l’Industrie et du
                  Commerce.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="wt-box m-b30 radius-md overflow-hide">
            <div class="wt-media wt-img-effect wt-img-overlay2">
              <a href="#"
                ><img src="assets/images/gallery/pic4.jpg" alt=""
              /></a>
            </div>
            <div class="wt-icon-box-wraper p-a20 left bg-white">
              <div class="icon-content bdr-4 bdr-left bdr-primary p-l20">
                <h5 class="wt-tilte text-uppercase m-b5">
                  <a href="services-detail.html"
                    >Boubacar Siddiki DIALLO (2019-2020)
                  </a>
                </h5>
                <p>Ancien Directeur</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="wt-box m-b30 radius-md overflow-hide">
            <div class="wt-media wt-img-effect wt-img-overlay2">
              <a href="#"
                ><img src="assets/images/gallery/pic4.jpg" alt=""
              /></a>
            </div>
            <div class="wt-icon-box-wraper p-a20 left bg-white">
              <div class="icon-content bdr-4 bdr-left bdr-primary p-l20">
                <h5 class="wt-tilte text-uppercase m-b5">
                  <a href="services-detail.html"
                    >Ibrahima KOITA (2021- Aujourd’hui).</a
                  >
                </h5>
                <p>Actuel Directeur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- HOW IT WORK  SECTION END -->
