<div class="page-wraper">
  <!-- HEADER START -->
  <app-header></app-header>
  <!-- HEADER END -->

  <!-- CONTENT START -->
  <div class="page-content">
    <div class="main-slider style-two default-banner">
      <div class="tp-banner-container">
        <!-- <div class="tp-banner"> -->

        <!-- <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h3 class="caption-title animated fadeInUp delay-1">
            DEVENIR FOURNISSEUR
          </h3>
          <p class="caption-text animated fadeInUp delay-2">
            Promouvoir votre entreprise et trouver des offres devient plus
            facile que jamais grâce à notre plateforme.
          </p>
          <div class="buttons">
            <a
              href="contact-1.html"
              class="site-button slider-btn-left animated fadeInUp delay-3"
              >Connexion</a
            >
            <a
              href="services.html"
              class="site-button slider-btn-right animated fadeInUp delay-3"
              >Inscription</a
            >
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h3 class="caption-title animated fadeInUp delay-1">
            DEVENIR ACHETEURS
          </h3>
          <p class="caption-text animated fadeInUp delay-2">
            Découvrez les entreprises malienne vérifiées pour repondre à vos
            besoins professionnels.
          </p>
          <div class="buttons">
            <a
              href="contact-1.html"
              class="site-button slider-btn-left animated fadeInUp delay-3"
              >Connexion</a
            >
            <a
              href="services.html"
              class="site-button slider-btn-right animated fadeInUp delay-3"
              >Inscription</a
            >
          </div>
        </div>
      </ng-template>
    </ngb-carousel> -->
        <!-- </div> -->
        <!-- SLIDER END -->

        <!-- INNER PAGE BANNER -->
        <div
          class="wt-bnr-inr overlay-wraper"
          style="background-image: url(assets/images/banner/hero3.jpg)"
        >
          <div class="overlay-main bg-white opacity-05"></div>
          <div class="container">
            <div class="wt-bnr-inr-entry">
              <h6 style="color: #34799c">
                Promoteur d'entreprises locale malienne
              </h6>
              <h1 class="" style="color: #34799c">Vous avez le potentiel</h1>
              <h1 class="" style="color: #34799c">
                Nous avons les opportunités
              </h1>
              <!-- BREADCRUMB ROW -->
              <ul class="wt-breadcrumb breadcrumb-style-2">
                <!-- <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-home"></i> Accueil</a
              >
            </li> -->
                <!-- <li class="">Trouvez ici tous les appels d'offres</li> -->
              </ul>
              <!-- BREADCRUMB  ROW END -->
              <!-- SIDE BAR START -->
              <div class="col-lg-6 col-md-12 rightSidebar">
                <!-- 13. SEARCH -->
                <div class="widget bg-black-light p-a20 radius-md">
                  <div class="search-bx">
                    <form role="search" method="post">
                      <div class="input-group">
                        <input
                          name="news-letter"
                          type="text"
                          class="form-control bg-gray"
                          placeholder="Taper un mot clé"
                        />
                        <span class="input-group-btn">
                          <a routerLink="offer"
                            ><button type="submit" class="btn btn-primary">
                              Rechercher
                            </button></a
                          >
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- SIDE BAR END -->
            </div>
          </div>
        </div>
        <!-- INNER PAGE BANNER END -->

        <!-- counter area -->
        <div class="counter-area pt-5 pb-5">
          <div class="container">
            <div class="row g-4 justify-content-center">
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".25s">
                  <div class="icon">
                    <img src="assets/icon/team.svg" alt="" />
                  </div>
                  <div class="content">
                    <div class="info">
                      <span
                        class="counter"
                        data-count="+"
                        data-to="150"
                        data-speed="3000"
                        >150</span
                      >
                      <!-- <span class="unit">k</span> -->
                    </div>
                    <h6 class="title">Donneurs d'ordre</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box wow fadeInDown" data-wow-delay=".25s">
                  <div class="icon">
                    <img src="assets/icon/team.svg" alt="" />
                  </div>
                  <div class="content">
                    <div class="info">
                      <span
                        class="counter"
                        data-count="+"
                        data-to="25"
                        data-speed="3000"
                        >25</span
                      >
                      <!-- <span class="unit">K</span> -->
                    </div>
                    <h6 class="title">Sous-traitants</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box wow fadeInUp" data-wow-delay=".25s">
                  <div class="icon">
                    <img src="assets/icon/team.svg" alt="" />
                  </div>
                  <div class="content">
                    <div class="info">
                      <span
                        class="counter"
                        data-count="+"
                        data-to="120"
                        data-speed="3000"
                        >120</span
                      >
                      <!-- <span class="unit">+</span> -->
                    </div>
                    <h6 class="title">Mise en rélation</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="counter-box wow fadeInDown" data-wow-delay=".25s">
                  <div class="icon">
                    <img src="assets/icon/team.svg" alt="" />
                  </div>
                  <div class="content">
                    <div class="info">
                      <span
                        class="counter"
                        data-count="+"
                        data-to="50"
                        data-speed="3000"
                        >50</span
                      >
                      <!-- <span class="unit">+</span> -->
                    </div>
                    <h6 class="title">Offres</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SECTION CONTENT -->
        <!-- <div class="section-full site-bg-primary p-t80 p-b50">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div
                    class="m-b30 text-black wt-icon-box-wraper center block-shadow bg-white p-a20"
                  >
                    <div
                      [countUp]="345"
                      [options]="{ enableScrollSpy: false, duration: 1 }"
                      class="font-70 font-weight-800 m-b5"
                    >
                      0
                    </div>
                    <span class="font-18">Donneurs d’ordre</span>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div
                    class="m-b30 text-black wt-icon-box-wraper center block-shadow bg-white p-a20"
                  >
                    <div
                      [countUp]="400"
                      [options]="{ enableScrollSpy: false, duration: 1 }"
                      class="font-70 font-weight-800 m-b5"
                    >
                      0
                    </div>
                    <span class="font-18">Sous-traitants</span>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div
                    class="m-b30 text-black wt-icon-box-wraper center block-shadow bg-white p-a20"
                  >
                    <div
                      [countUp]="670"
                      [options]="{ enableScrollSpy: false, duration: 1 }"
                      class="font-70 font-weight-800 m-b5"
                    >
                      0
                    </div>
                    <span class="font-18">Mise en relation</span>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div
                    class="m-b30 wt-icon-box-wraper center text-black block-shadow bg-white p-a20"
                  >
                    <div
                      [countUp]="125"
                      [options]="{ enableScrollSpy: false, duration: 1 }"
                      class="font-70 font-weight-800 m-b5"
                    >
                      0
                    </div>
                    <span class="font-18">Offres</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- SECTION CONTENT END -->
        <!-- HOW IT WORK SECTION START  -->
        <!-- process area -->

        <!-- process area end -->
        <div class="section-full p-t80 p-b50 bg-gray">
          <div class="container">
            <!-- TITLE START-->
            <div class="section-head text-center">
              <h2 class="site-title text-uppercase">Nos services</h2>
            </div>
            <!-- TITLE END-->
            <div class="section-content">
              <div class="row d-flex justify-content-center">
                <div class="process-wrap wow fadeInUp" data-wow-delay=".25s">
                  <div class="row g-4">
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">01</span>
                        <div class="icon">
                          <img src="assets/icon/pickup.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Mise en relation</h4>
                          <p>
                            C’est le service principal de la BSTP-MALI. Il
                            consiste à faciliter le rapprochement entre les
                            offreurs et les preneurs de services. A la
                            BSTP-MALI, une équipe technique locale travaille
                            directement avec les réseaux d’acheteurs industriels
                            clés pour identifier les opportunités de
                            sous-traitance spécifiques et ensuite les mettre à
                            la disposition des fournisseurs locaux enregistrés
                            dans sa base de données.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">02</span>
                        <div class="icon">
                          <img src="assets/icon/warehouse-2.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Benchmarking</h4>
                          <p>
                            Cela permet aux entreprises d’évaluer objectivement
                            leurs compétences, de voir clairement où elles se
                            situent par rapport aux pratiques dans leur secteur
                            (au niveau national, régional et mondial), et où
                            elles ont besoin de se mettre à niveau pour répondre
                            aux exigences de l’acheteur.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">03</span>
                        <div class="icon">
                          <img src="assets/icon/package.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Pré-diagnostic et Profilage </h4>
                          <p>
                            Le Profilage est une des activités principales de la
                            BSTP qui permet une connaissance approfondie des PME
                            / PMI par le recensement diagnostic des capacités
                            managériales, techniques et financières, des
                            compétences humaines et des besoins des entreprises.
                            Il permet de disposer des informations de qualités
                            sur les entreprises pour faciliter la mise en
                            relation.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">04</span>
                        <div class="icon">
                          <img src="assets/icon/team.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Transfert de technologies </h4>
                          <p>
                            La BSTP-MALI a la vocation de trouver pour une
                            PMI/PME malienne une entreprise étrangère homologue
                            de taille comparable, qui exerce le même métier,
                            performante et inscrite ou pas dans une Bourse de
                            sous-traitance du réseau des BSTP de l’espace UEMOA.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">05</span>
                        <div class="icon">
                          <img src="assets/icon/team.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Centre d’Affaires   </h4>
                          <p>
                            C’est un espace de rencontres B2B entre les
                            opérateurs économiques nationaux et internationaux.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">06</span>
                        <div class="icon">
                          <img src="assets/icon/team.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Formation et renforcement de capacités       </h4>
                          <p>
                            Processus visant à renforcer les compétences, les
                            capacités, les procédures et les ressources des PME
                            / PMI. La BSTP-MALI déploie les activités afin que
                            les entreprises sous-traitantes puissent, grâce aux
                            conseils et aux services, améliorer leurs
                            compétences, leurs capacités et surtout leur
                            compétitivité nationale et internationale.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">07</span>
                        <div class="icon">
                          <img src="assets/icon/team.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Appui et facilités de financement   </h4>
                          <p>
                            Modèle de financement de la sous-traitance et du
                            contenu local à trois pôles : Banques & Assurances,
                            Donneurs d’ordre et Preneurs d’ordre.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">08</span>
                        <div class="icon">
                          <img src="assets/icon/team.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>Salon industriel  </h4>
                          <p>
                            Rencontre des acteurs évoluant dans les mêmes
                            secteurs au niveau national et à international.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4 fade-in">
                      <div class="process-item">
                        <span class="count">09</span>
                        <div class="icon">
                          <img src="assets/icon/team.svg" alt="" />
                        </div>
                        <div class="content">
                          <h4>
                            Programme de Développement des Fournisseurs :  
                          </h4>
                          <p>
                            La BSTP grâce aux services et conseils qu’elle
                            délivre est apte à encourager et à organiser le
                            développement de fournisseurs, mais aussi à suivre
                            l’évolution des actions d’amélioration engagées.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-12"> -->
              </div>
            </div>
          </div>
        </div>
        <!-- HOW IT WORK  SECTION END -->
        <!-- FEATURED CASES SECTION START -->
        <div class="section-full bg-primary p-t80 p-b50">
          <div class="container">
            <!-- TITLE START-->
            <div class="section-head text-center">
              <h2 class="text-uppercase text-white">MISE EN AVANT</h2>
              <div class="wt-separator-outer">
                <div class="wt-separator site-bg-primary"></div>
              </div>
            </div>
            <!-- TITLE END-->
          </div>
          <div class="container">
            <div class="section-content" data-toggle="tab-hover">
              <div class="row">
                <div class="col-xl-6 col-lg-4 col-md-12 m-b30">
                  <div class="wt-box radius-md overflow-hide case-large-outer">
                    <div
                      class="wt-thum-bx wt-img-effect wt-img-overlay2 bg-no-repeat bg-cover case-large-img bg-bottom-right"
                      style="
                        background-image: url(assets/images/gallery/cases/partenariat.jpg);
                      "
                    ></div>
                    <div class="wt-info bg-white text-left p-a20">
                      <h4 class="text-uppercase">
                        PARTENARIATS RENTABLES POUR LES DEUX PARTIES
                      </h4>
                      <p class="m-b15">
                        Collaborer avec la BNSTP-S pour trouver les meilleurs
                        partenaires commerciaux.
                      </p>
                      <!-- <a href="services-detail.html" class="site-text-primary font-weight-600">Read More</a> -->
                    </div>
                  </div>
                </div>

                <div class="col-xl-6 col-lg-8 col-md-12">
                  <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-6">
                      <div
                        class="twm-fe-case wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
                      >
                        <div class="wt-media wt-img-effect wt-img-overlay2">
                          <img
                            src="assets/images/gallery/cases/service1.jpg"
                            alt=""
                          />
                        </div>
                        <div class="wt-info text-left p-a20 overflow-hide">
                          <h4 class="text-uppercase">
                            ACCÈS FACILITÉ AUX CAPACITÉS DE PRODUCTION ET DE
                            SERVICES
                          </h4>
                          <p>
                            Connecter les sous-traitants aux donneurs d'ordres
                          </p>
                          <!-- <a href="services-detail.html" class="site-text-primary font-weight-600">Read More</a> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-6">
                      <div
                        class="twm-fe-case wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
                      >
                        <div class="wt-media wt-img-effect wt-img-overlay2">
                          <img
                            src="assets/images/gallery/cases/service2.jpg"
                            alt=""
                          />
                        </div>
                        <div class="wt-info text-left p-a20 overflow-hide">
                          <h4 class="text-uppercase">
                            EXPERTISE EN SPÉCIALITÉS DE PRODUCTION ET DE
                            SERVICES
                          </h4>
                          <p>
                            Assistance technique pour les sous-traitants à la
                            recherche de marchés
                          </p>
                          <!-- <a href="services-detail.html" class="site-text-primary font-weight-600">Read More</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FEATURED CASES SECTION END -->
        <!-- FEATURED CASES SECTION END -->
        <!-- OUR PLANS SECTION START -->
        <div class="section-full text-center wt-our-team bg-white p-t80 p-b50">
          <div class="container">
            <!-- TITLE START-->
            <div class="section-head text-center">
              <h2 class="site-title text-uppercase">VOLUMES D'ACTIVITÉS</h2>
              <div class="wt-separator-outer">
                <div class="wt-separator site-bg-primary"></div>
              </div>
            </div>
            <!-- TITLE END-->

            <div class="section-content">
              <!-- <div class="pricingtable-row"> -->
              <div class="row d-flex justify-content-center">
                <!-- {{ charts.length| json}} -->
                <!-- <div class="col-lg-4 col-md-6 m-b30">
                <div
                  class="pricingtable-wrapper pricing-table-style-5 bg-white radius-md overflow-hide"
                >
                  <div class="pricingtable-inner">
                    <div class="pricingtable-title">
                      <h4>Basic Plan</h4>
                    </div>

                    <div class="pricingtable-price">
                      <span class="pricingtable-bx">$29</span>
                      <span class="pricingtable-type">Month</span>
                    </div>

                    <ul class="pricingtable-features text-black">
                      <li>Phone &amp; Email Support</li>
                      <li>3 Social Account</li>
                      <li>Branded Reports</li>
                    </ul>

                    <div class="pricingtable-footer">
                      <a
                        href="contact-1.html"
                        class="site-button text-uppercase radius-sm"
                        >Purchase</a
                      >
                    </div>

                    <div class="overlay-main bg-white opacity-07"></div>
                  </div>
                </div>
              </div> -->
                <p-carousel
                  [value]="charts"
                  [circular]="true"
                  [scrollLeft]="true"
                  [showIndicators]="true"
                  [numScroll]="2"
                  [numVisible]="4"
                  [autoplayInterval]="3000"
                  [responsiveOptions]="responsiveOptions"
                >
                  <ng-template let-chart pTemplate="item">
                    <!-- <div class="carousel-item"> -->
                    <p-chart
                      type="line"
                      [data]="chart.data"
                      [options]="chart.options"
                    ></p-chart>
                    <div>
                      <h5>{{ chart.otherInfos.statistic }}</h5>
                      <h5>{{ chart.otherInfos.libelle }}</h5>
                    </div>
                    <!-- <canvas baseChart width="400" height="400"
                  [type]="'line'"
                  [data]="lineChartData"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend">
                </canvas> -->

                    <!-- </div> -->
                  </ng-template>
                </p-carousel>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- OUR PLANS MEMBER SECTION END -->

        <!-- NEED A CONSULTANT SECTION START -->
        <div
          class="section-full p-t80 p-b50 overlay-wraper bg-parallax"
          data-stellar-background-ratio="0.5"
          style="background-image: url(assets/images/background/bg4.jpg)"
        >
          <div class="overlay-main bg-black opacity-07"></div>
          <div class="container text-center max-w700">
            <div class="text-white help-section">
              <!-- <h2 class="font-36 font-weight-900">Adhésion</h2> -->
              <h4>
                <strong
                  >Créez votre profil pour découvrir des milliers d'opportunités
                  d'affaires, développer votre carrière et votre emploi
                  !</strong
                >
              </h4>
              <div class="m-t40">
                <a
                  class="site-button"
                  href="https://player.vimeo.com/video/132471949"
                  >Adhérez maintenant</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- NEED A CONSULTANT SECTION  END -->
        <!-- OUR SERVICES SECTION START -->
        <div class="section-full bg-light p-t80">
          <div class="container">
            <!-- TITLE START-->
            <div class="section-head text-center">
              <h2 class="site-title text-uppercase">
                NOS DERNIERES ACTUALITES
              </h2>
              <div class="wt-separator-outer">
                <div class="wt-separator site-bg-primary"></div>
              </div>
            </div>
            <!-- TITLE END-->
            <div class="mfp-gallery clearfix">
              <div class="row">
                <!-- COLUMNS 1 -->
                <div class="col-lg-4 col-md-6 m-b30">
                  <div class="wt-box bg-white radius-md overflow-hide">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom">
                      <img src="assets/images/our-work/news.jpg" alt="" />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <!-- <a href="services-detail.html">
                                                                          <i class="fa fa-external-link wt-icon-box-xs"></i>
                                                                      </a>
                                                                      <a class="mfp-link" href="images/our-work/pic1.jpg">
                                                                          <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                                                      </a> -->
                        </div>
                      </div>
                    </div>
                    <div class="wt-info p-a20">
                      <h4 class="m-t0">Actus 1</h4>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        random text.
                      </p>
                      <a
                        href="javascript:;"
                        class="site-text-primary font-weight-600"
                        >En savoir plus</a
                      >
                    </div>
                  </div>
                </div>
                <!-- COLUMNS 2 -->
                <div class="col-lg-4 col-md-6 m-b30">
                  <div class="wt-box bg-white radius-md overflow-hide">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom">
                      <img src="assets/images/our-work/news.jpg" alt="" />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <!-- <a href="services-detail.html">
                                                                          <i class="fa fa-external-link wt-icon-box-xs"></i>
                                                                      </a>
                                                                      <a class="mfp-link" href="images/our-work/pic2.jpg">
                                                                          <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                                                      </a> -->
                        </div>
                      </div>
                    </div>
                    <div class="wt-info p-a20">
                      <h4 class="m-t0">Actus 2</h4>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        random text.
                      </p>
                      <a
                        href="javascript:;"
                        class="site-text-primary font-weight-600"
                        >En savoir plus</a
                      >
                    </div>
                  </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="col-lg-4 col-md-6 m-b30">
                  <div class="wt-box bg-white radius-md overflow-hide">
                    <div class="wt-thum-bx wt-img-overlay1 wt-img-effect zoom">
                      <img src="assets/images/our-work/news.jpg" alt="" />
                      <div class="overlay-bx">
                        <div class="overlay-icon">
                          <!-- <a href="services-detail.html">
                                                                          <i class="fa fa-external-link wt-icon-box-xs"></i>
                                                                      </a>
                                                                      <a class="mfp-link" href="images/our-work/pic3.jpg">
                                                                          <i class="fa fa-arrows-alt wt-icon-box-xs"></i>
                                                                      </a> -->
                        </div>
                      </div>
                    </div>
                    <div class="wt-info p-a20">
                      <h4 class="m-t0">Actus 3</h4>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply
                        random text.
                      </p>
                      <a
                        href="javascript:;"
                        class="site-text-primary font-weight-600"
                        >En savoir plus</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- OUR SERVICES SECTION END -->

        <!-- OUR CLIENT SLIDER START -->
        <div class="section-full bg-white">
          <div class="">
            <!-- IMAGE CAROUSEL START -->
            <!-- <div class="section-content">
          <div class="wrapper"> -->
            <!-- <p-carousel [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">


                  <img src="assets/images/client-logo/logo1.png" alt="logo1" title="title">
        


           
                  <img src="assets/images/client-logo/logo2.png" alt="logo1" title="title">
            </p-carousel>   -->
            <p-carousel
              [value]="products"
              [scrollLeft]="true"
              [showIndicators]="false"
              [numVisible]="3"
              [numScroll]="1"
              [circular]="true"
              [responsiveOptions]="responsiveOptions"
              [autoplayInterval]="3000"
            >
              <ng-template let-product pTemplate="item">
                <div
                  class="border-1 surface-border border-round m-2 text-center px-3"
                >
                  <div class="mb-3">
                    <img
                      src="assets/images/comite_de_pilotage/{{product.logoName}}"
                      [alt]="product.name"
                      width="100px"
                      class="w-6 shadow-2"
                    />
                  </div>
                </div>
              </ng-template>
            </p-carousel>
            <!-- </div>
        </div> -->
            <!-- IMAGE CAROUSEL START -->
          </div>
        </div>
        <!-- OUR CLIENT SLIDER END -->
      </div>
      <!-- CONTENT END -->
    </div>
    <app-footer></app-footer>
  </div>
</div>

<!-- <div class="page-wraper">

  <app-header></app-header>

  <div class="page-content">


    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
</div> -->
