<!-- HEADER START -->
<header class="site-header header-style-6 mobile-sider-drawer-menu">
  <div class="top-bar top-bar-liner bg-gray">
    <div class="container">
      <div class="row">
        <div class="wt-topbar-left">
          <ul class="list-unstyled pull-right tb-info-liner">
            <li>
              <i class="fa fa-envelope site-text-primary"></i
              >bmariko&#64;cnpm.ml
            </li>
            <li>
              <i class="fa fa-phone site-text-primary"></i>Téléphone : (+223) 96
              94 31 65 / Fax : + (223) 20 21 90 77
            </li>
          </ul>
        </div>
        <div class="wt-topbar-right">
          <ul class="list-inline pull-right tb-social-liner">
            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
            <li>
              <a href="https://x.com/BSTPMALI " class="fa fa-twitter"></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/bourse-de-sous-traitance-et-de-partenariat-du-mali-bstp-mali"
                class="fa fa-linkedin"
              ></a>
            </li>
            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
            <li>
              <a href="javascript:void(0);" class="fa fa-instagram"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Link -->

  <div class="main-bar header-middle bg-white">
    <div class="container">
      <div class="logo-header">
        <a href="index.html">
          <img
            src="assets/images/bstp_mali.jpg"
            width="154"
            height="49"
            alt=""
          />
        </a>
      </div>
      <div class="header-info">
        <ul>
          <li>
            <div>
              <div class="icon-sm">
                <span class="icon-cell site-text-primary"
                  ><i class="iconmoon-travel"></i
                ></span>
              </div>
              <div class="icon-content">
                <span>Hamdallaye ACI 2000, Immeuble Patronat.</span>
                <!-- <strong>Localisation </strong> -->
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="icon-sm">
                <span class="icon-cell site-text-primary"
                  ><i class="iconmoon-envelope"></i
                ></span>
              </div>
              <div class="icon-content">
                <span>bmariko&#64; cnpm.ml</span>
                <!-- <strong>Adresse e-mail</strong> -->
              </div>
            </div>
          </li>
          <li>
            <div>
              <div class="icon-sm">
                <span class="icon-cell site-text-primary"
                  ><i class="iconmoon-smartphone"></i
                ></span>
              </div>
              <div class="icon-content">
                <span>(+223) 96 94 31 65 /+ (223) 20 21 90 77</span>
                <!-- <strong>Numéro portable</strong> -->
              </div>
            </div>
          </li>
          <!-- <li>
            <div>
              <div class="icon-sm">
                <span class="icon-cell site-text-primary">
                </span>
              </div>
              <div class="icon-content">
                <a class="" href="http://">Connexion </a><span>/ </span>
                <a href="">S'enregistrer</a>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <app-nav></app-nav>
</header>
<!-- HEADER END -->
