  <div class="card flex justify-content-center gap-2">
    <p-toast />
    <p-confirmDialog />

</div>
<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <div *ngFor="let section of menuSections">
      <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"
      >
        <span>{{ section.section }}</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" *ngFor="let item of section.items">
          <!-- routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" -->
          <a
            [ngClass]="{ active: isActive(item.link) }"
            class="nav-link"
            [routerLink]="item.link"
          >
            <span data-feather="file-text" class="align-text-bottom"></span>
            {{ item.title }}
          </a>
        </li>
      </ul>
    </div>
    <div>
        <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link disconnect"  (click)="disconnect($event)">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Déconnexion
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text text-primary" style="font-style: italic;" routerLink="/">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Allez sur le site
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
