<!-- INNER PAGE BANNER START -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">POURQUOI ADHERER ?</h1>
      <!-- BREADCRUMB ROW START -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Pourquoi adherer</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <div class="row">


      <!-- SIDE BAR START -->
      <div class="col-lg-7 col-md-12 rightSidebar">
        <aside class="side-bar">
          <div class="post-description-area p-t10">
            <div class="wt-post-title">
              <h2 class="post-title site-text-primary">POURQUOI ADHERER A LA BSTP-MALI</h2>
            </div>
            <div class="wt-post-text">
 
                <p>
                    Adhérer à la BSTP-MALI, c’est :
                </p>
                <ul>
                    <li class="">Intégrer l’unique base de données régionales des entreprises de l’espace UEMOA à travers le réseau des BSTP-UEMOA ;
                        </li><li>
                            S’offrir l’opportunité d’être qualifié dans son corps de métier, selon les normes internationales ;
                        Faire partir des entreprises à sélectionner pour répondre à la commande des donneurs d’ordres publics et privés.
                        </li>
                        <li>
                            S’offrir l’opportunité d’être qualifié dans son corps de métier, selon les normes internationales ;
                        Faire partir des entreprises à sélectionner pour répondre à la commande des donneurs d’ordres publics et privés.
                        </li>
                </ul>

                <button type="submit" class="btn btn-primary btn-outline"> Adherer maintenant</button>
           
            </div>
          </div>
        </aside>
      </div>
      <!-- SIDE BAR END -->
             <!-- LEFT PART START -->
      <div class="col-lg-5 col-md-12">
        <!-- BLOG START -->
        <div class="blog-post date-style-1 blog-post-single">
          <div class="wt-post-media wt-img-effect radius-md overflow-hide">
            <img src="assets/images/blog/default/thum1.jpg" alt="" />
          </div>
        </div>
        <!-- BLOG END -->
      </div>
      <!-- LEFT PART END -->
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
