<!-- INNER PAGE BANNER START -->
<!-- <div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">Blog Post</h1>
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>Blog Post</li>
      </ul>
    </div>
  </div>
</div> -->
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-gray">
    <div class="container">
      <div class="row">
        <!-- LEFT PART START -->
        <div class="col-lg-8 col-md-12">
          <!-- BLOG START -->
          <div class="blog-post date-style-1 blog-post-single">
            <!-- <div class="wt-post-media wt-img-effect radius-md overflow-hide">
              <img src="assets/images/blog/recent-blog/actus.jpg" alt="" />
            </div> -->
            <div class="post-description-area p-t30">
              <div class="wt-post-title">
                <h2 class="post-title">
               {{offer.name}}
                </h2>
              </div>
              <div class="wt-post-meta text-black">
                <ul>
                  <!-- <li class="post-date">
                      <i class="fa fa-calendar site-text-primary"></i
                          ><strong>24 Octobre</strong> <span> 2024</span>
                  </li> -->
                  <li class="post-comment">
                    <i class="fa fa-comments site-text-primary"></i>0 Commentaires
                  </li>
                </ul>
              </div>
              <div class="wt-post-text"[innerHTML]="offer.description |  safeHTML" >
               
  
              </div>
  
            </div>
          </div>
  
        </div>
        <!-- LEFT PART END -->
  
        <!-- SIDE BAR START -->
        <div class="col-lg-4 col-md-12 rightSidebar">
          <aside class="side-bar">
            <!-- 13. SEARCH -->
            <div class="widget bg-white p-a20 radius-md">
              <div class="">
                <form role="search" method="post">
                  <div class="input-group">
                    <input
                      name="news-letter"
                      type="text"
                      class="form-control"
                      placeholder="Entrez votre mot clé"
                    />
                    <span class="input-group-btn">
                      <button type="submit" class="site-button btn">
                        Rechercher
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
  
            <!-- 2. RECENT POSTS -->
            <div class="widget recent-posts-entry">
              <h4>Récents</h4>
              <div class="widget-post-bx bg-white p-a20 radius-md">
                <div class="widget-post clearfix">
                  <div class="wt-post-media">
                    <img src="assets/images/blog/recent-blog/actus.jpg" alt="" />
                  </div>
                  <div class="wt-post-info">
                    <div class="wt-post-header">
                      <h6 class="post-title">
                        Session Ordinaire du Comité de Pilotage
                      </h6>
                    </div>
                    <div class="wt-post-meta">
                      <ul>
                        <li class="post-author">24 Octobre</li>
                        <li class="post-comment">
                          <i class="fa fa-comments"></i> 0 commentaire(s)
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- 4. POST CATEGORIES  -->
            <div class="widget widget_categories">
              <h4>Actualités</h4>
              <ul class="bg-white p-a20 radius-md">
                <li>
                  <a href="about-1.html">A la une</a><span class="badge">10</span>
                </li>
                <li>
                  <a href="about-1.html">Activités réalisés</a
                  ><span class="badge">3</span>
                </li>
                <li>
                  <a href="about-1.html">Activités en cours</a
                  ><span class="badge">8</span>
                </li>
                <li>
                  <a href="about-1.html">Environnement économique</a
                  ><span class="badge">5</span>
                </li>
                <li>
                  <a href="about-1.html">Secteur privé</a
                  ><span class="badge">12</span>
                </li>
                <li>
                  <a href="about-1.html">Galerie</a><span class="badge">1</span>
                </li>
              </ul>
            </div>
            <!-- 4. POST CATEGORIES  -->
            <div class="widget widget_categories">
              <h4>Évènements</h4>
              <ul class="bg-white p-a20 radius-md">
                <li>
                  <a href="about-1.html">Séminaire National</a
                  ><span class="badge">10</span>
                </li>
                <li>
                  <a href="about-1.html">Salons Spécialisés</a
                  ><span class="badge">3</span>
                </li>
                <li>
                  <a href="about-1.html">Cérémonie de récompense</a
                  ><span class="badge">8</span>
                </li>
                <li>
                  <a href="about-1.html">Conférences</a
                  ><span class="badge">5</span>
                </li>
                <li>
                  <a href="about-1.html">Webinaires</a
                  ><span class="badge">12</span>
                </li>
                <li>
                  <a href="about-1.html">Évènements de nos parténaires</a
                  ><span class="badge">1</span>
                </li>
              </ul>
            </div>
  
            <!-- 6. NEWSLETTER -->
            <div class="widget widget_newsletter-2">
              <h4>Newsletter</h4>
              <div class="newsletter-bx p-a20 radius-md">
                <div class="newsletter-icon">
                  <i class="fa fa-envelope-o"></i>
                </div>
  
                <div class="newsletter-content">
                  <p>Entrez votre email et abonnez-vous à notre newsletter.</p>
                </div>
                <div class="m-t20">
                  <form role="search" method="post">
                    <div class="input-group">
                      <input
                        name="news-letter"
                        class="form-control"
                        placeholder="ENTREZ VOTRE  E-MAIL"
                        type="text"
                      />
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary m-l10">
                          Envoyer
                        </button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <!-- SIDE BAR END -->
      </div>
    </div>
  </div>
  <!-- SECTION CONTENT END -->
  