<!-- INNER PAGE BANNER -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">A PROPOS</h1>
      <!-- BREADCRUMB ROW -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Acceuil</a>
        </li>
        <li>A propos</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <div class="row">
      <!-- SIDE BAR START -->
      <div class="col-lg-6 col-md-12 leftSidebar">
        <aside class="side-bar">
          <!-- 13. SEARCH -->
          <div class="widget bg-white p-a20 radius-md">
            <div class="item">
              <div class="aon-thum-bx">
                <img src="assets/images/blog/default/thum1.jpg" alt="" />
              </div>
            </div>
          </div>
        </aside>
        <div class="section-head text-left">
          <h2 class="text-uppercase">Principes</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator site-bg-primary"></div>
          </div>
          <p>
            <strong>
              <ul class="list-arrow">
                <li>
                  Flexibilité : Système et procédures informatiques faciles à
                  modifier et à adapter pour répondre aux besoins des
                  utilisateurs ;
                </li>
                <li>
                  Intégrité : Données enregistrées, fiables, correctement
                  validées et cohérentes qui respectent les normes éthiques et
                  déontologiques ;
                </li>
                <li>
                  Sécurité : Garantie de la sécurité des données, à la fois en
                  termes d’interface informatique et d'hébergement des bases de
                  données ;
                </li>
                <li>
                  Disponibilité : Minimiser les temps d'arrêt du système en
                  conformité aux normes internationales.
                </li>
                <li>Confidentialité </li>
                <li>Transparence </li>
                <li>Non-discrimination </li>
              </ul>
            </strong>
          </p>
        </div>
        <div class="section-head text-left">
          <h2 class="text-uppercase">Valeurs</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator site-bg-primary"></div>
          </div>
          <p>
            <strong
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
              eos optio ducimus odit, labore hic fugiat iusto veniam
              necessitatibus quas doloremque sapiente maiores.</strong
            >
          </p>
        </div>
        <div class="section-head text-left">
          <h2 class="text-uppercase">Gouvernance</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator site-bg-primary"></div>
          </div>
          <p>
            <strong
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
              eos optio ducimus odit, labore hic fugiat iusto veniam
              necessitatibus quas doloremque sapiente maiores.</strong
            >
          </p>
        </div>
      </div>
      <!-- SIDE BAR END -->

      <!-- LEFT PART START -->
      <div class="col-lg-6 col-md-12">
        <div class="section-head text-left">
          <h2 class="text-uppercase">Vision</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator site-bg-primary"></div>
          </div>
          <p>
            <strong
              >Relever le niveau de compétitivité nationale et internationale
              des PME / PMI locales leur permettant de sous-traiter et de nouer
              des partenariats stratégiques auprès des grands donneurs
              d’ordre.</strong
            >
          </p>
        </div>
        <div class="section-head text-left">
          <h2 class="text-uppercase">Missions</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator site-bg-primary"></div>
          </div>
          <p>
            <strong>
              <ul class="list-arrow">
                <li>
                  Organiser et gérer la sous-traitance et les prestations de
                  service;
                </li>
                <li>
                  Labelliser les ressources opérationnelles des PME / PMI; .
                </li>
                <li>
                  Favoriser le rapprochement entre les Donneurs d’ordre et les
                  Sous-Traitants et Fournisseurs;
                </li>
                <li>Offrir une Assistance technique aux PME / PM;</li>
                <li>Promouvoir l’expertise et la production nationale;</li>
                <li>
                  Mettre à la disposition des partenaires des informations sur
                  le Secteur privé ;
                </li>
                <li>
                  Faciliter l’accès des PME / PMI aux programmes de financement;
                </li>
                <li>
                  Constituer une plateforme numérique de mise en relation ;
                </li>
                <li>
                  Développer une base de données dynamiques du Secteur privé,
                </li>
                <li>
                  Orienter et conseiller les investisseurs sur le potentiel de
                  sous-traitance existant au Mali;
                </li>
                <li>
                  Mettre en place une base de données de compétences utilisables
                  par les opérateurs économiques nationaux et internationaux ;
                </li>
                <li>
                  Établir une banque de données dynamiques des PME et artisans
                  nationaux.
                </li>
              </ul>
            </strong>
          </p>
        </div>
        <div class="section-head text-left">
          <h2 class="text-uppercase">Objectif principal de la BSTP-MALI </h2>
          <div class="wt-separator-outer">
            <div class="wt-separator site-bg-primary"></div>
          </div>
          <p>
            <strong
              >Le principal objectif de la Bourse de Sous-Traitance et de
              Partenariat du Mali est de fournir aux entreprises locales
              manufacturières, les outils et les services qui amélioreront leurs
              performances, pratiques et leur permettraient d’accéder aux
              marches de sous-traitance industrielle nationale et
              internationale.</strong
            >
          </p>
        </div>
        <div class="section-head text-left">
          <h2 class="text-uppercase">Objectifs spécifiques</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator site-bg-primary"></div>
          </div>
          <p>
            <strong>
              <ul class="list-arrow">
                <li>
                  Promouvoir la sous-traitance, la co-traitance et le
                  partenariat
                </li>
                <li>
                  Accompagner les entreprises à intégrer les secteurs
                  stratégiques de l’économie nationale,
                </li>
                <li>
                  Développer le contenu local dans tous les secteurs de
                  l’économie par l’accroissement de l’approvisionnement local,
                  emploi local et production locale,
                </li>
                <li>
                  Jouer le rôle d’intermédiation entre les demandeurs et
                  offreurs des biens et services;
                </li>
                <li>
                  Faciliter les échanges d’affaires entre les acteurs nationaux
                  et internationaux;
                </li>
                <li>
                  Augmenter les niveaux de production, d’emploi et des
                  investissements dans le secteur de la sous-traitance
                  industrielle et le partenariat;
                </li>
                <li>
                  Améliorer la productivité et la compétitivité au niveau
                  national, sous régional et international;
                </li>
                <li>
                  Améliorer les produits locaux, leur processus de fabrication
                  et la compétitivité des PME/PMI;
                </li>
                <li>
                  Promouvoir la substitution des importations et l’exportation
                  des produits transformés;
                </li>
                <li>
                  Contribuer au redéploiement des installations manufacturières
                  et donc au transfert de la technologie industrielle et du
                  savoir-faire au profit des PME/PMI;
                </li>
                <li>
                  Favoriser l’intégration industrielle au sein de la CEDEAO et
                  de l’UEMOA;
                </li>
              </ul>
            </strong>
          </p>
        </div>
      </div>
      <!-- LEFT PART END -->
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
