<!-- INNER PAGE BANNER -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(images/banner/faq-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">LABELISATION DES PME/PMI</h1>
      <!-- BREADCRUMB ROW -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Labelisation des PME/PMI</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT -->
<div class="section-full p-t80 p-b50">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 m-b30">
        <div class="">
          <div class="p-b30">
            <!-- <h4 class="text-uppercase">Comment ça fonctionne ?</h4> -->
            <!-- <div class="wt-separator-outer">
              <div class="wt-separator site-bg-primary"></div>
            </div> -->
            La labellisation est un processus de reconnaissance des compétences
            des sous-traitants accompagnés par la Bourse de Sous-Traitance et de
            Partenariat du Cameroun à l’issue de son programme d’accompagnement.
            C’est une activité supplémentaire et complémentaire du programme
            classique d’accompagnement des sous-traitants du programme SPX
            UNIDO, qui comprend :
          </div>

          <!-- ACCORDION START -->
          <div class="wt-accordion acc-site-bg-primary" id="accordion5">
            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseOne5">
                    <i class="fa fa-angle-double-right"></i>
                    Profilage
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne5"
                class="acod-body collapse show"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.
                  It was popularised sheets containing Lorem Ipsum passagese.web
                  design lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the when an unknown printer
                  took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially
                  unchanged.
                </div>
              </div>
            </div>

            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseTwo5">
                    <i class="fa fa-angle-double-right"></i>
                    L'évaluation comparative(Benchmarking)
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseTwo5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  Graphic design lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised sheets containing
                  Lorem Ipsum passagese.
                </div>
              </div>
            </div>

            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseThree5">
                    <i class="fa fa-angle-double-right"></i>
                    Le developpement des compétences
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseThree5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  Developement lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the when an unknown printer
                  took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised sheets containing Lorem Ipsum
                  passagese.
                </div>
              </div>
            </div>
          </div>
          <!-- ACCORDION END -->
        </div>
        <div class="">
          <div class="p-b30 m-t30">
            <!-- <h4 class="text-uppercase">Comment ça fonctionne ?</h4> -->
            <!-- <div class="wt-separator-outer">
                <div class="wt-separator site-bg-primary"></div>
              </div> -->
            L’approche de labellisation de la BSTP renforce le mécanisme
            d’accompagnement existant et comprend 2 étapes clés :
            <p>
              <strong>
                <ul class="list-arrow p-l20">
                  <li>
                    Organiser et gérer la sous-traitance et les prestations de
                    service;
                  </li>
                  <li>
                    Labelliser les ressources opérationnelles des PME / PMI; .
                  </li>
                  <li>
                    Favoriser le rapprochement entre les Donneurs d’ordre et les
                    Sous-Traitants et Fournisseurs;
                  </li>
                </ul>
              </strong>
            </p>
          </div>

          <!-- ACCORDION START -->
          <div class="wt-accordion acc-site-bg-primary" id="accordion5">
            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseOne5">
                    <i class="fa fa-angle-double-right"></i>
                    Labelisation des sous-traitants
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.
                  It was popularised sheets containing Lorem Ipsum passagese.web
                  design lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the when an unknown printer
                  took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially
                  unchanged.
                </div>
              </div>
            </div>

            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseTwo5">
                    <i class="fa fa-angle-double-right"></i>
                    Eligibilité à la labelisation
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseTwo5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  Graphic design lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised sheets containing
                  Lorem Ipsum passagese.
                </div>
              </div>
            </div>

            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseThree5">
                    <i class="fa fa-angle-double-right"></i>
                    Périodicité des activités de labellisation et durée de
                    validité du label
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseThree5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  Developement lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the when an unknown printer
                  took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised sheets containing Lorem Ipsum
                  passagese.
                </div>
              </div>
            </div>
            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseThree5">
                    <i class="fa fa-angle-double-right"></i>
                    Avantages des sous-traitants labellisés
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseThree5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  Developement lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the when an unknown printer
                  took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised sheets containing Lorem Ipsum
                  passagese.
                </div>
              </div>
            </div>
            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseThree5">
                    <i class="fa fa-angle-double-right"></i>
                    L’élément d’entrée
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseThree5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  Developement lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the when an unknown printer
                  took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised sheets containing Lorem Ipsum
                  passagese.
                </div>
              </div>
            </div>
            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseThree5">
                    <i class="fa fa-angle-double-right"></i>
                    L’élément de sortie
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseThree5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  Developement lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the when an unknown printer
                  took a galley of type and scrambled it to make a type specimen
                  book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised sheets containing Lorem Ipsum
                  passagese.
                </div>
              </div>
            </div>
          </div>
          <!-- ACCORDION END -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
