<!-- INNER PAGE BANNER -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(images/banner/about-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-05"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">FORMULAIRE POUR POSTER UNE OFFRE D'EMPLOI</h1>
      <!-- BREADCRUMB ROW -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Postez une offre d'emploi</li>
      </ul>
      <!-- BREADCRUMB  ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50">
  <!-- PRODUCT DETAILS -->
  <div class="container woo-entry">
    <!-- SECTION CONTENT START -->
    <div class="section-content">
      <div class="row">
        <!-- FROM STYEL 1 -->
        <div class="col-lg-12 col-md-12 m-b30">
          <div class="section-head">
            <h2 class="text-uppercase">Postez une offre d'emploi</h2>
            <div class="wt-separator-outer">
              <div class="wt-separator site-bg-primary"></div>
            </div>
            <p>
              Déposez une offre d’emploi gratuitement et sans inscription -
              Attirez les candidats qualifiés pour vos offres.
            </p>
          </div>

          <div class="wt-box bdr-4 bdr-gray-light p-a30">
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Nom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez votre nom"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Prénom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez votre prénom"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Titre</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le votre titre"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Entreprise</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le nom de votre entreprise"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Adresse e-mail</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez votre adresse e-mail"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Téléphone</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez votre numéro portable"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Intitulé du poste</label>
                <textarea
                  name=""
                  id=""
                  class="form-control"
                  placeholder="Entrez l'Intitulé du poste"
                  rows="3"
                ></textarea>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Catégorie</label>
                    <input type="date" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Type</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le lieu"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Date de fermeture</label>
                    <input type="date" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Lieu</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le lieu"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Description du poste</label>
                <textarea
                  name=""
                  id=""
                  class="form-control"
                  placeholder="Entrez la description du poste"
                  rows="3"
                ></textarea>
              </div>

              <!-- <div> -->
              <button
                type="submit"
                value="submit"
                class="site-button site-bg-primary"
              >
                Envoyer
              </button>
              <button
                type="submit"
                value="submit"
                class="site-button site-button-secondry m-3"
              >
                Annuler
              </button>
              <!-- </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION CONTENT END -->
  </div>
  <!-- PRODUCT DETAILS -->
</div>
<!-- CONTENT CONTENT END -->
