<!-- INNER PAGE BANNER START -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">MOT DU PRESIDENT</h1>
      <!-- BREADCRUMB ROW START -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Mot du president</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <div class="row">
      <!-- SIDE BAR START -->
      <div class="col-lg-7 col-md-12 rightSidebar hide">
        <aside class="side-bar">
          <div class="post-description-area p-t10">
            <div class="wt-post-title">
              <h2 class="post-title">Mot du president</h2>
            </div>
            <div class="wt-post-text" style="text-align: justify;">
              <p>
                Chers Membres du Bureau du CNPM, <br />
                Chers collègues chefs d’entreprises, <br /> Chers Partenaires,
              </p>

              <p>
                Le Conseil National du Patronat du Mali (CNPM) que je préside à
                l’honneur de mettre à votre disposition la Bourse de
                Sous-Traitance et de Partenariat du Mali (BSTP-MALI) qui est un
                outil efficace pour rendre compétitive nos entreprises.
              </p>

              <p>
                Aussi, le CNPM félicite le Gouvernement du Mali pour l’adoption
                de la Loi et du décret d’application, relatifs au Contenu local,
                dans le secteur minier au Mali. Cette initiative marque un jalon
                important dans la promotion d'un secteur minier plus impactant,
                économiquement et socialement et ouvert davantage au Secteur
                privé Malien. Le CNPM, organisation faitière des entreprises
                privées du Mali, reconnaît l'importance cruciale de ces réformes
                pour la création d'un environnement favorable aux affaires et
                pour le développement économique durable du Mali.
              </p>

              <p>
                Le CNPM entend jouer toute sa partition pour le développement
                d’un partenariat stratégique, État- Secteur privé- Partenaires,
                pour la croissance des entreprises maliennes évoluant dans le
                secteur minier et d’autres secteurs stratégiques de l’économie.
              </p>

              <p>
                C’est dans cette vision que le CNPM a relancé les activités de
                la Bourse de Sous-Traitance et de Partenariat du Mali
                (BSTP-MALI), créée en 2011 et qui est un centre technique
                d’informations, de promotion de la sous-traitance et du
                partenariat ainsi que du développement du contenu local dans
                tous les secteurs économique.
              </p>

              <p>
                Ainsi, la mission principale de la BSTP-MALI est de faciliter le
                rapprochement entre les Grandes entreprises et les Petites et
                Moyennes entreprises pouvant aboutir à des partenariats
                stratégiques industriels et le transfert de compétences dans le
                cadre de la sous-traitance et du partenariat. La BSTP-MALI est
                un service du secteur privé favorisant la compétitivité des
                entreprises nationales aux plans régional et international.
              </p>

              <p>
                L’opérationnalisation de la BSTP-MALI permettra au CNPM
                d’accompagner l’État du Mali dans sa vision de souveraineté, de
                promotion de l’expertise locale et de participer activement à
                toutes les initiatives du contenu local dans le secteur minier
                au Mali. Ce dispositif technique est le cadre idéal pour les
                mises en relation et les renforcements de capacités des
                ressources opérationnelles des entreprises nationales pour
                postuler, obtenir et exploiter les opportunités du contenu
                local.
              </p>

              <p>
                La BSTP-MALI est aussi un dispositif pouvant favoriser la mise
                en application de la Loi et du décret d’application sur le
                contenu local dans le secteur minier au Mali.
              </p>

              <p>
                Le CNPM souhaite plein succès dans votre future collaboration
                avec la BSTP-MALI.
              </p>
              <div class="float-end">
                Mossadeck BALLY 
              </div>
            </div>
          </div>
        </aside>
      </div>
      <!-- SIDE BAR END -->
      <!-- LEFT PART START -->
      <div class="col-lg-5 col-md-12">
        <!-- BLOG START -->
        <div class="blog-post date-style-1 blog-post-single">
          <div class="wt-post-media wt-img-effect radius-md overflow-hide">
            <img src="assets/images/blog/default/thum1.jpg" alt="" />
          </div>
        </div>
        <!-- BLOG END -->
      </div>
      <!-- LEFT PART END -->
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
