<!-- INNER PAGE BANNER START -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">HISTORIQUE</h1>
      <!-- BREADCRUMB ROW START -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Historique</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <div class="row">
      <!-- LEFT PART START -->
      <div class="col-lg-5 col-md-12">
        <!-- BLOG START -->
        <div class="blog-post date-style-1 blog-post-single">
          <div class="wt-post-media wt-img-effect radius-md overflow-hide">
            <img src="assets/images/blog/default/thum1.jpg" alt="" />
          </div>
        </div>
        <!-- BLOG END -->
      </div>
      <!-- LEFT PART END -->

      <!-- SIDE BAR START -->
      <div class="col-lg-7 col-md-12 rightSidebar">
        <aside class="side-bar">
          <div class="post-description-area p-t10">
            <div class="wt-post-title">
              <h2 class="post-title">HISTORIQUE</h2>
            </div>
            <div class="wt-post-text">
              <p>
                La Bourse de Sous-Traitance et de Partenariat du Mali
                (BSTP-MALI) a été créée le 1er Juillet 2011 par la Décision
                N°0025-11/CNPM à la suite d’une étude de faisabilité basée sur
                l’identification des besoins et les potentialités de
                sous-traitance et de partenariat en République du Mali en
                novembre 2009. Cette étude a été lancé par le Conseil National
                du Patronat du Mali (CNPM) en collaboration avec le Bureau
                International du Travail (BIT) dans le but de mieux accompagner
                les PME / PMI à s’insérer avantageusement dans l’environnement
                économique national, régionale et mondial.
              </p>
              <p>
                L’étude a eu l’implication de l’État du Mali, du Secteur privé
                et des partenaires techniques et financiers. La BSTP-MALI est un
                dispositif technique d’appui aux entreprises, PME / PMI et une
                référentielle pour la promotion de la sous-traitance et du
                partenariat.
              </p>
              <p>
                Face aux besoins croissants des Donneurs d’ordre à la recherche
                de Sous-traitants et fournisseurs des biens et services fiables,
                crédibles et qui peuvent répondre à leurs demandes ainsi que des
                Sous-traitants souhaitant obtenir des commandes de Donneurs
                d’ordre ou coopérant avec d’autres PME / PMI à la fabrication
                d’un produit fini d’une part; Et d’autre part, suite aux
                nouvelles règlementaires sur le Contenu local dans le secteur
                minier; il faudrait un Centre technique centralisant les besoins
                des Donneurs d’ordre et les possibilités des diverses industries
                de sous-traitance dont la BSTP-MALI.
              </p>
            </div>
          </div>
        </aside>
      </div>
      <!-- SIDE BAR END -->
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
