
<div class="page-wraper">
    <!-- HEADER START -->
   <app-header></app-header>
    <!-- HEADER END -->
  
    <!-- CONTENT START -->
    <div class="page-content">
      <!-- SLIDER START -->
 
      <router-outlet></router-outlet>
      <!-- LOADING AREA START ===== -->
      <!-- <div class="loading-area">
      <div class="loading-box"></div>
      <div class="loading-pic">
          <span class="cssload-loader"><span class="cssload-loader-inner"></span></span>
      </div>
  </div> -->
      <!-- LOADING AREA  END ====== -->
       <app-footer></app-footer>
    </div>
  </div>
  