<!-- INNER PAGE BANNER START -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(assets/images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">ETUDE DE 2009</h1>
      <!-- BREADCRUMB ROW START -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Etude de 2009</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- ICON BOX STYLE 2  ALIGN CENTER -->
<div class="section-full m-t30 p-b50">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div
            class="wt-icon-box-wraper bx-style-2 m-t40 m-b70 p-a30 center bg-white radius-md"
          >
            <div class="wt-icon-box-sm site-bg-primary m-b20 radius-md">
              <span class="icon-cell text-white"
                >
                <!-- <i class="fa fa-icon-briefcase"></i
              > -->
              Etude de 2009
            </span>
            </div>
            <div class="icon-content p-t40" style="text-align: justify;">
              <!-- <h5 class="wt-tilte text-uppercase">Content title</h5> -->
              <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p> -->
              <p>
                L’étude de faisabilité basée sur l’identification des besoins et
                les potentialités de sous-traitance en vue de la mise en place
                d’une Bourse Nationale de Sous-Traitance et de Partenariat au
                Mali a été réalisé du 12 octobre au 1er novembre 2009 par les
                experts de la BSTP de Côte d’Ivoire et celle du Sénégal.
                L’objectif principal de l’étude était d’identifier les besoins
                réels en sous-traitance ainsi que les potentialités de
                partenariat.
              </p>

              <p>
                Les experts ont proposé un schéma fonctionnel de BSTP adapté à
                l’environnement économique du Mali et qui pourrait facilement
                s’intégrer dans le schéma général des BSTP de l’espace UEMOA. La
                démarche a consisté à rencontrer les acteurs du public, privé,
                partenaires au développement, société civile, donneurs d’ordre
                et sous-traitants. Ces consultations ont permis de recueillir
                les données pouvant alimenter la base de la future BSTP au Mali.
              </p>
              <p>
                A l’issu de l’étude, le CNPM s’est engagé à créer la BSTP-MALI,
                composée d’un Comité de pilotage et d’une Direction, en vue de
                favoriser le développement de la sous-traitance industrielle et
                du partenariat au Mali.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
