<!-- INNER PAGE BANNER -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(images/banner/faq-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">PROGRAMMES D'AMELIORATION CONTINU</h1>
      <!-- BREADCRUMB ROW -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>Programmes d'amélioration continu</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT -->
<div class="section-full p-t80 p-b50">
  <div class="container">
    <div class="row">
      <!-- SIDE BAR START -->
      <div class="col-lg-4 col-md-5 m-b30">
        <div class="wt-box p-a30 need-help site-bg-primary text-white m-b30">
          <h2 class="m-t0">PROGRAMME D'AMELIORATION CONTINU</h2>
          <p>
            Activez votre performance grâce à un programme d’amélioration
            continu conçu pour les PME sous-traitantes ayant un projet de
            création d’emplois. Engagez-vous dans ce processus complet et misez
            sur le développement des compétences de vos ressources humaines pour
            accroître votre compétitivité.
          </p>
          <!-- <a href="contact-1.html" class="site-button black">Contact Us</a> -->
        </div>
        <!-- <div class="about4-section">
                            <div class="about4-content">
                                <h2><span class="site-text-primary">We Provide Consulting Agency for every </span>Business </h2>
                                <p>Scrambled it to make a type specimen book. e a type specimen book.scrambled it to make a type specimen book. remaining essentially unchanged. It was popular ised in the with theLorem Ipsum is simply dummy text of the printing and eentially unchanged.</p>
                                <div>
                                    <a href="about-1.html" class="site-button-secondry radius-sm">
                                      <span class="font-weight-700 inline-block text-uppercase p-lr15">Read More</span> 
                                    </a>
                                </div>
                            </div>
                        </div> -->
      </div>
      <!-- SIDE BAR END -->

      <div class="col-lg-8 col-md-7 m-b30">
        <div class="">
          <div class="p-b30">
            <h4 class="text-uppercase">Comment ça fonctionne ?</h4>
            <div class="wt-separator-outer">
              <div class="wt-separator site-bg-primary"></div>
            </div>
          </div>

          <!-- ACCORDION START -->
          <div class="wt-accordion acc-site-bg-primary" id="accordion5">
            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseOne5">
                    <i class="fa fa-angle-double-right"></i>
                    Profilage - Évaluation complète et objective
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne5"
                class="acod-body collapse show"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                  <ul class="list-none">
                    <li class="none">
                      - Un de nos conseillers se rend dans votre entreprise (1
                      journée)
                      <ol start="1">
                        <li>Visite de l’usine et des bureaux</li>
                        <li>Discussion avec les employés et les dirigeants</li>
                        <li>
                          Questionnaire portant sur tous les aspects de
                          l’entreprise :
                          <ol class="list-arrow">
                            <li>Approvisionnements</li>
                            <li>Fabrication</li>
                            <li>Gestion de la qualité</li>
                            <li>Gestion des ressources humaines</li>
                            <li>Gestion des ressources financières</li>
                            <li>Organisation de l’entreprise</li>
                            <li>R&D et ingénierie</li>
                            <li>Ventes et marketing</li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                    <li class="none">
                      - Nous analysons les résultats de l’évaluation et les
                      comparons avec ceux d’entreprises semblables
                    </li>
                    <li class="none">
                      - Nous vous transmettons un rapport complet :
                      <ol start="1">
                        <li>
                          Présentation détaillée de vos forces et des
                          opportunités d’amélioration selon
                          <strong>les meilleures pratiques d’affaires</strong>
                        </li>
                        <li>
                          Classement de vos résultats sur une échelle situant
                          les résultats obtenus par des entreprises semblables
                          <strong>(benchmarking)</strong>
                        </li>
                        <li>
                          Suggestion de priorités d’action à mettre en place
                          pour améliorer significativement la performance de
                          votre entreprise
                        </li>
                      </ol>
                    </li>

                    <li class="none">- Organisation de l’entreprise</li>
                    <li class="none">- R&D et ingénierie</li>
                    <li class="none">- Ventes et marketing</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseTwo5">
                    <i class="fa fa-angle-double-right"></i>
                    Établissement des priorités d’action
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseTwo5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                    <ul class="list-none">    
                        <li class="none">- Discussion avec les dirigeants sur les recommandations du rapport d’évaluation</li>
                        <li class="none">- Établissement des priorités d’action en fonction de vos objectifs et des ressources disponibles</li>
                        <li class="none">- Identification des projets d’amélioration priorisés et des résultats attendus</li>
                      </ul>
                </div>
              </div>
            </div>

            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseThree5">
                    <i class="fa fa-angle-double-right"></i>
                    Formation-accompagnement de vos employés
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseThree5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                    <ul class="list-none">    
                        <li class="none">- Choix des ressources externes compétentes parmi les suggestions soumises par BSTP-GN et vos propres contacts</li>
                        <li class="none">- Activités de formation/accompagnement de vos employés pour implanter les projets d’améliorations choisis</li>
                      </ul>
                </div>
              </div>
            </div>

            <div class="panel wt-panel">
              <div class="acod-head">
                <h6 class="acod-title text-uppercase">
                  <a data-bs-toggle="collapse" href="#collapseFour5">
                    <i class="fa fa-angle-double-right"></i>
                    Suivi des résultats
                    <span class="indicator"><i class="fa fa-plus"></i></span>
                  </a>
                </h6>
              </div>
              <div
                id="collapseFour5"
                class="acod-body collapse"
                data-bs-parent="#accordion5"
              >
                <div class="acod-content p-tb15">
                    <ul class="list-none">    
                        <li class="none">- Suivis réguliers de l’avancement des projets avec votre conseiller BSTP-GN</li>
                        <li class="none">- Possibilité de suivi pour pousser plus loin l’amélioration (réservé aux membres)</li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- ACCORDION END -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
