<!-- What we Offer SECTION START -->
<div class="section-full bg-gray p-t80 p-b57">
  <div class="container">
    <!-- TITLE START-->
    <!-- <div class="section-head text-center">
                                    <h2 class="text-uppercase">OFFRES</h2>
                                    <div class="wt-separator-outer">
                                        <div class="wt-separator site-bg-primary"></div>
                                    </div>                        
                                </div> -->
    <!-- TITLE END-->
    <form [formGroup]="searchForm" (ngSubmit)="searchOffer()">
    <div class="row">
      <div class="col-md-5 col-sm-5 mb-1">

        <ng-select placeholder="Choisir le statut" formControlName="offerStatus">
          <ng-option    *ngFor="let status of offerStaus"
          [value]="status.value">   {{ status.label }} </ng-option>
        </ng-select>
      </div>
   

      <div class="col-md-5 col-sm-5 mb-1">
        <ng-select  placeholder="Choisir l'activité" formControlName="activityId">
          <ng-option    *ngFor="let activity of activities"
          [value]="activity.id">   {{ activity.name }} </ng-option>
        </ng-select>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <button type="submit" value="submit" class="site-button btn-block">
            Rechercher
          </button>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-lg-6 col-md-6" *ngFor="let o of offers">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <!-- <div class="wt-media">
              <img src="assets/images/gallery/cases/pic1.jpg" alt="" />
            </div> -->
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">{{o.name}}</h4>
              <span class="badge rounded-pill text-bg-primary">En cours</span>

              <div>
               {{o.name | textTruncate: 100}}
                <div>
                  <span class="badge text-bg-secondary mx-1">{{o?.activity?.name}}</span>
                  <!-- <span class="badge text-bg-secondary m-1"
                    >Fournitures diverses</span
                  > -->
                </div>
              </div>

              <a [routerLink]="['/offer-details', o.id]" class="site-text-primary font-weight-600"
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <div class="wt-media">
              <img src="assets/images/gallery/cases/pic2.jpg" alt="" />
            </div>
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">Business Intelligence</h4>
              <span class="badge rounded-pill text-bg-primary">En cours</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                laoreet odio id lectus tristique luctus. Morbi id sodales orci
                ins. Nunc et nunc sodales, convallis elit.
              </p>
              <a href="javascript:;" class="site-text-primary font-weight-600"
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-6 col-md-6">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <div class="wt-media">
              <img src="assets/images/gallery/cases/pic1.jpg" alt="" />
            </div>
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">Financial Services</h4>
              <span class="badge rounded-pill text-bg-danger">Expiré</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                laoreet odio id lectus tristique luctus. Morbi id sodales orci
                ins. Nunc et nunc sodales, convallis elit.
              </p>
              <a href="javascript:;" class="site-text-primary font-weight-600"
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <div class="wt-media">
              <img src="assets/images/gallery/cases/pic2.jpg" alt="" />
            </div>
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">Auditing & Assurance</h4>
              <span class="badge rounded-pill text-bg-primary">En cours</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                laoreet odio id lectus tristique luctus. Morbi id sodales orci
                ins. Nunc et nunc sodales, convallis elit.
              </p>
              <a href="javascript:;" class="site-text-primary font-weight-600"
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div> -->
      </div>
      <!-- PAGINATION START -->
      <div class="pagination-bx clearfix align-content-center">
     
        <ul class="custom-pagination pagination-1">
          <li [ngClass]="{'disabled': currentPage === 1}"  (click)="prevPage()"><a >&laquo;</a></li>
          <!-- <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li> -->
          <span class="m-2"
          >Page {{ currentPage }} sur {{ totalPages }}</span
        >
          <li [ngClass]="{'disabled': currentPage === totalPages}"  (click)="nextPage()"><a >&raquo;</a></li>
        </ul>
      </div>
      <!-- PAGINATION END -->
    </div>
  </div>
</div>
<!-- What we Offer SECTION END -->
