<!-- What we Offer SECTION START -->
<div class="section-full bg-gray p-t80 p-b57">
  <div class="container">
    <!-- TITLE START-->
    <!-- <div class="section-head text-center">
                                    <h2 class="text-uppercase">OFFRES</h2>
                                    <div class="wt-separator-outer">
                                        <div class="wt-separator site-bg-primary"></div>
                                    </div>                        
                                </div> -->
    <!-- TITLE END-->
    <div class="row">
      <!-- <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="First Name">
                                        </div>
                                    </div> -->
      <div class="col-md-5 col-sm-5">
        <div class="form-group">
          <select class="form-control form-select">
            <option disabled>Statut</option>
            <option>Tout</option>
            <option>En cours</option>
            <option>Expiré</option>
          </select>
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="form-group">
          <select class="form-control form-select">
            <option disabled>Secteurs d'activités</option>
            <option>Administration publique</option>
            <option>Administration sportive</option>
            <option>Agence de voyage</option>
            <option>Agricoles</option>
            <option>Agro-alimentaire</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <button type="submit" value="submit" class="site-button btn-block">
            Rechercher
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <div class="wt-media">
              <img src="assets/images/gallery/cases/pic1.jpg" alt="" />
            </div>
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">IT Consulting</h4>
              <span class="badge rounded-pill text-bg-primary">En cours</span>
         
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                laoreet odio id lectus tristique luctus. Morbi id sodales orci
                ins. Nunc et nunc sodales, convallis elit.
                <div >
                    <span class="badge  text-bg-secondary mx-1">Fournitures</span>
                    <span class="badge  text-bg-secondary m-1">Fournitures diverses</span>
                </div>
                </div>
          
           
              <a href="javascript:;" class="site-text-primary font-weight-600 "
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <div class="wt-media">
              <img src="assets/images/gallery/cases/pic2.jpg" alt="" />
            </div>
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">Business Intelligence</h4>
              <span class="badge rounded-pill text-bg-primary">En cours</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                laoreet odio id lectus tristique luctus. Morbi id sodales orci
                ins. Nunc et nunc sodales, convallis elit.
              </p>
              <a href="javascript:;" class="site-text-primary font-weight-600"
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <div class="wt-media">
              <img src="assets/images/gallery/cases/pic1.jpg" alt="" />
            </div>
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">Financial Services</h4>
              <span class="badge rounded-pill text-bg-danger">Expiré</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                laoreet odio id lectus tristique luctus. Morbi id sodales orci
                ins. Nunc et nunc sodales, convallis elit.
              </p>
              <a href="javascript:;" class="site-text-primary font-weight-600"
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div
            class="wt-box block-md clearfix bg-white m-b30 radius-md overflow-hide"
          >
            <div class="wt-media">
              <img src="assets/images/gallery/cases/pic2.jpg" alt="" />
            </div>
            <div class="wt-info text-left p-a20 overflow-hide">
              <h4 class="text-uppercase">Auditing & Assurance</h4>
              <span class="badge rounded-pill text-bg-primary">En cours</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                laoreet odio id lectus tristique luctus. Morbi id sodales orci
                ins. Nunc et nunc sodales, convallis elit.
              </p>
              <a href="javascript:;" class="site-text-primary font-weight-600"
                >VOIR DETAIL</a
              >
            </div>
          </div>
        </div>
      </div>
              <!-- PAGINATION START -->
              <div class="pagination-bx clearfix align-content-center">
                <ul class="custom-pagination pagination-1">
                  <li><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
              <!-- PAGINATION END -->
      
    </div>
  </div>
</div>
<!-- What we Offer SECTION END -->
