        <!-- CONTENT START -->
        <div class="page-content">
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper" style="background-image:url(images/banner/about-banner.jpg);">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <h1 class="text-white">CONTACTEZ-NOUS</h1>
                        <!-- BREADCRUMB ROW -->                            
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a></li>
                            <li>Contact</li>
                        </ul>
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->  


            <!-- CONTACT DETAIL BLOCK -->
            <div class="section-full p-t80">
                <div class="container">
                	<div class="section-head">
                       <h4 class="text-uppercase">Détail Contact </h4>
                       <div class="wt-separator-outer m-b30">
                           <div class="wt-separator site-bg-primary"></div>
                       </div>                    
                    </div>            
            		<div class="section-content m-b30">
                        <div class="row">
                        
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-white block-shadow radius-md">
                                    <div class="icon-sm m-b10"><i class="iconmoon-smartphone-1"></i></div>
                                    <div class="icon-content">
                                        <h5>Contacts</h5>
                                        <p>(+223) 96 94 31 65 /+ (223) 20 21 90 77</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-white block-shadow radius-md">
                                    <div class="icon-sm m-b10"><i class="iconmoon-email"></i></div>
                                    <div class="icon-content">
                                        <h5>Address email</h5>
                                        <p>bmariko@ cnpm.ml</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 m-b30">
                                <div class="wt-icon-box-wraper center p-a30 bg-white block-shadow radius-md">
                                    <div class="icon-sm m-b10"><i class="iconmoon-travel"></i></div>
                                    <div class="icon-content">
                                        <h5>Localisation</h5>
                                        <p> Hamdallaye ACI 2000, Immeuble Patronat.</p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
            	</div>
            </div> 
            <!-- SECTION CONTENTG START -->
            <div class="section-full">
                <div class="container">
                	<div class="section-head">
                       <h4 class="text-uppercase">Formulaire Contact </h4>
                       <div class="wt-separator-outer m-b30">
                           <div class="wt-separator site-bg-primary"></div>
                       </div>                    
                    </div>                   
                    <!-- GOOGLE MAP & CONTACT FORM -->
                    <div class="section-content m-b50">
                        <!-- CONTACT FORM-->
                        <div class="wt-box">
                            <div class="p-a30 bg-gray">
                        
                                <form class="cons-contact-form" method="post" action="form-handler.php">
                        
                                    <div class="row">
                                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <input name="username" type="text" required class="form-control" placeholder="Nom et prénom">
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                    <input name="email" type="text" class="form-control" required placeholder="Email">
                                                </div>
                                            </div>
        
                                        </div>
        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon v-align-t"><i class="fa fa-pencil"></i></span>
                                                    <textarea name="message" rows="5" class="form-control " required placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-md-12">
                                            <button name="submit" type="submit" value="Submit" class="site-button-secondry  m-r15">Soumettre </button>
                                            <button name="Resat" type="reset" value="Reset"  class="site-button " >Annuler</button>
                                        </div>
        
                                    </div>

                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            <!-- SECTION CONTENT END -->
 
            <!-- SECTION CONTENTG START -->
            <div class="section-full">
                <!-- GOOGLE MAP & CONTACT FORM -->
                <div class="section-content">
                    <!-- LOCATION BLOCK-->
                    <div class="wt-box">
                        <div class="gmap-outline">
                            <div  class="google-map">
                                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1671883239943!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3893.269887210678!2d-8.024039524044653!3d12.630291587654634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe51cc5db20d7759%3A0xd3f835e35f25ef79!2sConseil%20National%20du%20Patronat%20du%20Mali!5e0!3m2!1sfr!2sml!4v1738671386912!5m2!1sfr!2sml" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            <!-- SECTION CONTENT END -->            
        </div>
        <!-- CONTENT END -->