.custom-stepper {
    // max-width: 600px;
    // margin: auto;
  }
  
  .stepper-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .step {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    flex: 1;
  }
  
  .step.active {
    background-color: #34789b;
    color: white;
    border-color: #34789b;
  }
  
  .step.completed {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
  }
  
  .stepper-body {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
  }
  
  button {
    margin: 10px 5px;
  }


  .payment-options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .payment-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .payment-option input {
    display: none; /* Cache le bouton radio natif */
  }
  
  .payment-option img {
    width: auto;
    height: auto;
    border: 2px solid #34789b;
    border-radius: 8px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .payment-option input:checked + img {
    border-color: red;
    box-shadow: 0 0 8px #ff4e0880;
  }
  
  