<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"
    >BSTP MALI</a
  >
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search"> -->
  <!-- <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div> -->
</header>

<div class="container-fluid">
  <div class="row">
    <app-nav></app-nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Enregistrer un(e) entreprise/partenaire</h2>
      <!-- SECTION CONTENT START -->
      <div class="section-full p-t80 p-b50">
        <!-- PRODUCT DETAILS -->
        <div class="container woo-entry">
          <!-- SECTION CONTENT START -->
          <div class="section-content">
            <div class="row">
              <!-- FROM STYEL 1 -->
              <div class="col-lg-12 col-md-12 m-b30">
                <!-- <div class="section-head">
                                <h2 class="text-uppercase">Billing Information</h2>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator site-bg-primary"></div>
                                </div>
                            </div> -->

                <div class="wt-box bdr-4 bdr-gray-light p-a30">
                  <form [formGroup]="myForm" (ngSubmit)="addNew()">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Nom de l'entreprise</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Entrez le nom"
                            formControlName="name"
                          />
                          <div class="error-messages">
                            <ng-container
                              *ngFor="let error of error_messages.name"
                            >
                              <div
                                class="error-message"
                                *ngIf="
                                  myForm.get('name').hasError(error.type) &&
                                  (myForm.get('name').dirty ||
                                    myForm.get('name').touched ||
                                    submitted)
                                "
                              >
                                {{ error.message }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Année de création</label>
                          <input
                            type="date"
                            class="form-control"
                            placeholder="Entrez le prénom"
                            formControlName="creationDate"
                          />
                          <div class="error-messages">
                            <ng-container
                              *ngFor="let error of error_messages.creationDate"
                            >
                              <div
                                class="error-message"
                                *ngIf="
                                  myForm
                                    .get('creationDate')
                                    .hasError(error.type) &&
                                  (myForm.get('creationDate').dirty ||
                                    myForm.get('creationDate').touched ||
                                    submitted)
                                "
                              >
                                {{ error.message }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Statut juridique</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Entrez le statut juridique"
                            formControlName="legalStatus"
                          />
                          <ng-container
                            *ngFor="let error of error_messages.legalStatus"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm
                                  .get('legalStatus')
                                  .hasError(error.type) &&
                                (myForm.get('legalStatus').dirty ||
                                  myForm.get('legalStatus').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Secteur d'activité</label>
                          <ng-select
                            [multiple]="true"
                            [closeOnSelect]="false"
                            [searchable]="true"
                            [selectableGroup]="true"
                            placeholder="Choisir le statut"
                            formControlName="activities"
                            [ariaChecked]="true"
                          >
                            <ng-option
                              *ngFor="let item of activities"
                              [value]="item.slug"
                            >
                              {{ item.name }}
                            </ng-option>
                          </ng-select>
                          <ng-container
                            *ngFor="let error of error_messages.activities"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm.get('activities').hasError(error.type) &&
                                (myForm.get('activities').dirty ||
                                  myForm.get('activities').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Répresenté par</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Entrez le nom complet du répresentant"
                            formControlName="representedBy"
                          />
                          <ng-container
                            *ngFor="let error of error_messages.representedBy"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm
                                  .get('representedBy')
                                  .hasError(error.type) &&
                                (myForm.get('representedBy').dirty ||
                                  myForm.get('representedBy').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Adresse e-mail</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Entrez l'adresse e-mail"
                            formControlName="email"
                          />
                          <ng-container
                            *ngFor="let error of error_messages.email"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm.get('email').hasError(error.type) &&
                                (myForm.get('email').dirty ||
                                  myForm.get('email').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Téléphone 1</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Entrez le numéro portable 1"
                            formControlName="phoneNumberFirst"
                          />
                          <ng-container
                            *ngFor="
                              let error of error_messages.phoneNumberFirst
                            "
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm
                                  .get('phoneNumberFirst')
                                  .hasError(error.type) &&
                                (myForm.get('phoneNumberFirst').dirty ||
                                  myForm.get('phoneNumberFirst').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label
                            >Téléphone 2
                            <span class="error-message"
                              >(Optionnel)</span
                            ></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Entrez le numéro portable 2"
                            formControlName="phoneNumberSecond"
                          />
                          <ng-container
                            *ngFor="
                              let error of error_messages.phoneNumberSecond
                            "
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm
                                  .get('phoneNumberSecond')
                                  .hasError(error.type) &&
                                (myForm.get('phoneNumberSecond').dirty ||
                                  myForm.get('phoneNumberSecond').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Adresse</label>
                          <textarea
                            name=""
                            id=""
                            rows="5"
                            placeholder="Adresse"
                            class="form-control"
                            formControlName="address"
                          ></textarea>
                          <ng-container
                            *ngFor="let error of error_messages.address"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm.get('address').hasError(error.type) &&
                                (myForm.get('address').dirty ||
                                  myForm.get('address').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Description</label>
                          <textarea
                            name=""
                            id=""
                            class="form-control"
                            rows="5"
                            formControlName="description"
                          ></textarea>
                          <ng-container
                            *ngFor="let error of error_messages.description"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm
                                  .get('description')
                                  .hasError(error.type) &&
                                (myForm.get('description').dirty ||
                                  myForm.get('description').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>Logo</label>
                          <input
                            type="file"
                            name="logo"
                            class="form-control"
                            accept="image/png, image/jpeg"
                            (change)="uploadlogo($event)"
                            formControlName="logo"
                          />
                          <ng-container
                            *ngFor="let error of error_messages.docs"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm
                                  .get('docs')
                                  .hasError(error.type) &&
                                (myForm.get('docs').dirty ||
                                  myForm.get('docs').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                       <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>NIF & RCCM</label>
                          <input
                            type="file"
                            [multiple]="true"
                            name="docs[]"
                            class="form-control"
                            accept="application/pdf"
                            (change)="uploadDocs($event)"
                            formControlName="docs"
                          />
                          <ng-container
                            *ngFor="let error of error_messages.docs"
                          >
                            <div
                              class="error-message"
                              *ngIf="
                                myForm
                                  .get('docs')
                                  .hasError(error.type) &&
                                (myForm.get('docs').dirty ||
                                  myForm.get('docs').touched ||
                                  submitted)
                              "
                            >
                              {{ error.message }}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>

                    <!-- <div> -->
                    <button
                      type="submit"
                      value="submit"
                      class="site-button site-bg-primary"
                    >
                      Enregistrer
                    </button>
                    <button
                      type="submit"
                      value="submit"
                      class="site-button site-button-secondry m-3"
                    >
                      Annuler
                    </button>
                    <!-- </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- SECTION CONTENT END -->
        </div>
        <!-- PRODUCT DETAILS -->
      </div>
      <!-- CONTENT CONTENT END -->
    </main>
  </div>
</div>
