<!-- INNER PAGE BANNER -->
<div
  class="wt-bnr-inr overlay-wraper"
  style="background-image: url(images/banner/blog-banner.jpg)"
>
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <h1 class="text-white">A LA UNE</h1>
      <!-- BREADCRUMB ROW -->
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li>
          <a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>à la une</li>
      </ul>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <div class="row">
      <!-- LEFT PART START -->
      <div class="col-lg-8 col-md-12">
        <!-- BLOG GRID START -->
        <div class="portfolio-wrap wt-blog-grid-2 row">
          <div class="post masonry-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div
              class="blog-post blog-grid date-style-1 radius-md overflow-hide bg-white"
            >
              <div class="wt-post-media wt-img-effect zoom-slow">
                <a href="/actualite-details"
                  ><img src="assets/images/blog/recent-blog/actus.jpg" alt=""
                /></a>
              </div>
              <div class="wt-post-info p-a30">
                <div class="wt-post-title">
                  <h4 class="post-title">
                    <a href="/actualite-details"
                      >Session Ordinaire du Comité de Pilotage</a
                    >
                  </h4>
                </div>
                <div class="wt-post-meta text-black">
                  <ul>
                    <li class="post-date">
                      <i class="fa fa-calendar site-text-primary"></i
                      ><strong>24 Octobre</strong> <span> 2024</span>
                    </li>
                    <li class="post-comment">
                      <i class="fa fa-comments site-text-primary"></i>
                      <a href="/actualite-details">0 Commentaire(s)</a>
                    </li>
                  </ul>
                </div>
                <div class="wt-post-text">
                  <p>
                    La bourse de Sous-Traitance et de Partenariat du Mali serait
                    honoré de votre presence à la Session ordinaire de son
                    comité de pilotage
                  </p>
                </div>
                <div class="wt-post-readmore m-b0">
                  <a
                    routerLink="/actualite-details"
                    title="READ MORE"
                    rel="bookmark"
                    class="site-button"
                    >Lire plus</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BLOG GRID END -->

        <!-- PAGINATION START -->
        <div class="pagination-bx col-lg-12 clearfix">
          <ul class="custom-pagination pagination-1">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
        <!-- PAGINATION END -->
      </div>
      <!-- LEFT PART END -->

      <!-- SIDE BAR START -->
      <div class="col-lg-4 col-md-12 rightSidebar">
        <aside class="side-bar">
          <!-- 13. SEARCH -->
          <div class="widget bg-white p-a20 radius-md">
            <div class="">
              <form role="search" method="post">
                <div class="input-group">
                  <input
                    name="news-letter"
                    type="text"
                    class="form-control"
                    placeholder="Entrez votre mot clé"
                  />
                  <span class="input-group-btn">
                    <button type="submit" class="site-button btn">
                      Rechercher
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>

          <!-- 2. RECENT POSTS -->
          <div class="widget recent-posts-entry">
            <h4>Récents</h4>
            <div class="widget-post-bx bg-white p-a20 radius-md">
              <div class="widget-post clearfix">
                <div class="wt-post-media">
                  <img src="assets/images/blog/recent-blog/actus.jpg" alt="" />
                </div>
                <div class="wt-post-info">
                  <div class="wt-post-header">
                    <h6 class="post-title">
                      Session Ordinaire du Comité de Pilotage
                    </h6>
                  </div>
                  <div class="wt-post-meta">
                    <ul>
                      <li class="post-author">24 Octobre</li>
                      <li class="post-comment">
                        <i class="fa fa-comments"></i> 0 commentaire(s)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 4. POST CATEGORIES  -->
          <div class="widget widget_categories">
            <h4>Actualités</h4>
            <ul class="bg-white p-a20 radius-md">
              <li>
                <a href="about-1.html">A la une</a><span class="badge">10</span>
              </li>
              <li>
                <a href="about-1.html">Activités réalisés</a
                ><span class="badge">3</span>
              </li>
              <li>
                <a href="about-1.html">Activités en cours</a
                ><span class="badge">8</span>
              </li>
              <li>
                <a href="about-1.html">Environnement économique</a
                ><span class="badge">5</span>
              </li>
              <li>
                <a href="about-1.html">Secteur privé</a
                ><span class="badge">12</span>
              </li>
              <li>
                <a href="about-1.html">Galerie</a><span class="badge">1</span>
              </li>
            </ul>
          </div>
                    <!-- 4. POST CATEGORIES  -->
                    <div class="widget widget_categories">
                        <h4>Évènements</h4>
                        <ul class="bg-white p-a20 radius-md">
                          <li>
                            <a href="about-1.html">Séminaire National</a
                            ><span class="badge">10</span>
                          </li>
                          <li>
                            <a href="about-1.html">Salons Spécialisés</a><span class="badge">3</span>
                          </li>
                          <li>
                            <a href="about-1.html">Cérémonie de récompense</a
                            ><span class="badge">8</span>
                          </li>
                          <li>
                            <a href="about-1.html">Conférences</a
                            ><span class="badge">5</span>
                          </li>
                          <li>
                            <a href="about-1.html">Webinaires</a
                            ><span class="badge">12</span>
                          </li>
                          <li>
                            <a href="about-1.html">Évènements de nos parténaires</a
                            ><span class="badge">1</span>
                          </li>
                        </ul>
                      </div>

          <!-- 6. NEWSLETTER -->
          <div class="widget widget_newsletter-2">
            <h4>Newsletter</h4>
            <div class="newsletter-bx p-a20 radius-md">
              <div class="newsletter-icon">
                <i class="fa fa-envelope-o"></i>
              </div>

              <div class="newsletter-content">
                <p>
                    Entrez votre email et abonnez-vous à notre newsletter.
                </p>
              </div>
              <div class="m-t20">
                <form role="search" method="post">
                  <div class="input-group">
                    <input
                      name="news-letter"
                      class="form-control"
                      placeholder="ENTREZ VOTRE  E-MAIL"
                      type="text"
                    />
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary m-l10">
                        Envoyer
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <!-- SIDE BAR END -->
    </div>
  </div>
</div>
<!-- SECTION CONTENT END -->
