<!-- FOOTER START -->
<footer class="site-footer footer-dark">
  <!-- FOOTER BLOCKES START -->
  <div class="footer-top overlay-wraper">
    <div class="overlay-main"></div>
    <div class="container">
      <div class="row">
        <!-- ABOUT COMPANY -->
        <div class="col-lg-6 col-md-6">
          <div class="widget widget_about text-white">
            <h4 class="widget-title">A propos de nous</h4>
            <div class="logo-footer clearfix p-b15">
              <a href="index.html"
                ><img
                  src="assets/images/bstp_mali.jpg"
                  width="171"
                  height="49"
                  alt=""
              /></a>
            </div>
            <p>
              Vous êtes une PME locale à la recherche d'opportunités, de
              partenariats, de formations et de financements ? Ou peut-être une
              entreprise internationale cherchant à collaborer avec des
              partenaires compétents et compétitifs, tout en optimisant votre
              gestion du temps et des ressources, et en mettant en œuvre des
              pratiques responsables sur le plan environnemental et social ?
              Notre plateforme vous offre les solutions dont vous avez besoin.
            </p>
            <ul>
              <li>
                <i class="fa fa-phone site-text-primary"></i>
                <b class="p-lr5">Tel:</b> (+223) 96 94 31 65 / Fax : + (223) 20
                21 90 77
              </li>
              <li>
                <i class="fa fa-envelope site-text-primary"></i>
                <b class="p-lr5">Email:</b>bmariko@cnpm.ml
              </li>
              <li>
                <i class="fa fa-location-arrow site-text-primary"></i>
                <b class="p-lr5">Localisation:</b> Hamdallaye ACI 2000, Immeuble
                Patronat
              </li>
            </ul>
          </div>
        </div>
        <!-- USEFUL LINKS -->
        <div class="col-lg-3 col-md-6">
          <div class="widget widget_services text-white">
            <h4 class="widget-title">Raccourcis</h4>
            <ul>
              <li><a href="javascript:;">ACCUEIL</a></li>
              <li><a href="javascript:;">A PROPOS DE LA BSTP</a></li>
              <li><a href="javascript:;">ACTUALITES</a></li>
              <li><a href="javascript:;">MISSIONS</a></li>
              <li><a href="javascript:;">GUIDE D'UTILISATION</a></li>
              <li><a href="javascript:;">FAQs</a></li>
            </ul>
          </div>
        </div>
        <!-- Instagram Feed -->
        <div class="col-lg-3 col-md-6">
          <div class="widget widget_services text-white">
            <h4 class="widget-title">MAPS</h4>
            <!-- <ul>
                <li>
                  <i class="fa fa-phone site-text-primary"></i>
                  <b class="p-lr5">Tel:</b> (+223) 96 94 31 65  / Fax : + (223) 20 21 90 77
                </li>
                <li>
                  <i class="fa fa-envelope site-text-primary"></i>
                  <b class="p-lr5">Email:</b>bmariko@cnpm.ml 
                </li>
                <li>
                  <i class="fa fa-location-arrow site-text-primary"></i>
                  <b class="p-lr5">Localisation:</b> Hamdallaye ACI 2000, Immeuble Patronat
                </li>
              </ul> -->

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3893.269887210678!2d-8.024039524044653!3d12.630291587654634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe51cc5db20d7759%3A0xd3f835e35f25ef79!2sConseil%20National%20du%20Patronat%20du%20Mali!5e0!3m2!1sfr!2sml!4v1738671386912!5m2!1sfr!2sml"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>

      <!-- NEWSLETTER -->
      <div class="widget widget_newsletter f-news-letter text-white p-t20">
        <div class="newsletter-bx">
          <form role="search" method="post">
            <div class="input-group">
              <input
                name="news-letter"
                class="form-control"
                placeholder="ENTRER VOTRE ADRESSE EMAIIL"
                type="text"
              />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary font-weight-600">
                  S'abonner
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER COPYRIGHT -->
  <div class="footer-bottom overlay-wraper">
    <div class="overlay-main"></div>
    <div class="container p-t30">
      <div class="cpr-ftr-section">
        <div class="wt-footer-bot-left">
          <span class="copyrights-text"
            >© Copyright 2024 BSTP MALI - Tous droits réservés.</span
          >
        </div>
        <div class="wt-footer-bot-right">
          <ul class="copyrights-nav pull-right">
            <li>
              <a href="javascript:;">Termes & Conditions d'Utilisation </a>
            </li>
            <li>
              <a href="javascript:;">Politique de Confidentialité</a>
            </li>
            <!-- <li><a href="contact-1.html">Nous-contacter</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER END -->

<!-- BUTTON TOP START -->
<button class="scroltop">
  <span class="iconmoon-house relative" id="btn-vibrate"></span>
</button>
