
    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper" style="background-image:url(assets/images/banner/services.jpg);">
     <div class="overlay-main bg-black opacity-07"></div>
     <div class="container">
         <div class="wt-bnr-inr-entry">
             <h1 class="text-white">FAQs</h1>
             <!-- BREADCRUMB ROW -->                            
             <ul class="wt-breadcrumb breadcrumb-style-2">
                 <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Accueil</a></li>
                 <li>FAQs</li>
             </ul>
             <!-- BREADCRUMB ROW END --> 
         </div>
     </div>
 </div>
 <!-- INNER PAGE BANNER END -->
        
<div class="container">
   <!-- TITLE START -->
   <!-- <div class="section-head text-center">
     <h2 class="text-uppercase">Team Type 1</h2>
     <div class="wt-separator-outer">
         <div class="wt-separator site-bg-primary"></div>
     </div>
     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
      since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book has survived.</p>
  </div> -->
  <!-- TITLE END -->
     <!-- TOGGLE BG GRAY --> 
             <div class="section-content m-t30">
                 <div class="wt-accordion acc-site-bg-primary p-b100" id="accordion5">
                     <div class="panel wt-panel">
                         <div class="acod-head">
                             <h6 class="acod-title text-uppercase">
                                 <a data-bs-toggle="collapse" href="#collapseOne5"  >
                                    <!-- <i class="fa fa-globe"></i> -->
                                     Qu’est-ce que la BSTP?
                                     <span class="indicator"><i class="fa fa-plus"></i></span>
                                 </a>
                             </h6>
                         </div>
                         <div id="collapseOne5" class="acod-body collapse">
                             <div class="acod-content p-tb15">
                                 La Bourse de Sous-traitance et de Partenariats est une plateforme électronique qui met en relation les entreprises locales en quête de marché et les entreprises étrangères évoluant dans les secteurs des mines, industries de transformation, Infrastructures, BTP, banques, assurances et autres.

                             </div>
                         </div>
                     </div>
                     <div class="panel wt-panel">
                         <div class="acod-head">
                             <h6 class="acod-title text-uppercase">
                                 <a data-bs-toggle="collapse" href="#collapseTwo5" class="collapsed"  >
                                    <!-- <i class="fa fa-photo"></i> -->
                                     A quoi sert la BSTP?
                                     <span class="indicator"><i class="fa fa-plus"></i></span>
                                 </a>
                             </h6>
                         </div>
                         <div id="collapseTwo5" class="acod-body collapse">
                             <div class="acod-content p-tb15">
                                 La BSTP est un outil de promotion et de développement du contenu local. Son objectif ultime est de maximiser les retombées économiques (création d’emploi, transfert de connaissances et de technologie, amélioration de la productivité des PMEs locales, etc.) découlant des investissements étrangers. Entre autres, elle facilitera la mise en relation et la création de partenariats entre les PMEs locales et compagnies étrangères telles que les entreprises minières.

                             </div>
                         </div>
                     </div>
                     <div class="panel wt-panel">
                         <div class="acod-head">
                             <h6 class="acod-title text-uppercase">
                                 <a data-bs-toggle="collapse"  href="#collapseThree5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                     Quels sont les avantages offerts par la BSTP aux PMEs locales?
                                     <span class="indicator"><i class="fa fa-plus"></i></span>
                                 </a>
                             </h6>
                         </div>
                         <div id="collapseThree5" class="acod-body collapse">
                             <div class="acod-content p-tb15">
                                 Les avantages pour les PMEs locales sont les suivants : Bénéficier d’informations pertinentes sur les opportunités d’affaires avec les entreprises locales et étrangères ; Recevoir automatiquement une notification chaque fois qu’une offre est postée sur la plateforme ; Recevoir une assistance technique afin de renforcer leurs capacités et être en conformité avec les standards internationaux ; Accéder aux aides de financements offertes par les partenaires et organismes de soutien.

                             </div>
                         </div>
                     </div>


                     <div class="panel wt-panel">
                        <div class="acod-head">
                            <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse"  href="#collapsefour5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                    Quels sont les avantages offerts par la BSTP pour les entreprises étrangères?
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                            </h6>
                        </div>
                        <div id="collapsefour5" class="acod-body collapse">
                            <div class="acod-content p-tb15">
                                Les avantages pour les entreprises étrangères sont les suivants : Accéder à une base de données fiable et exhaustive d’entreprises compétitives sous-traitantes ; Obtenir la réduction des coûts, des délais et améliorer la qualité des traitements de dossiers de soumissions ; Participer à l’amélioration des compétences des PMEs en faisant des commentaires sur les propositions techniques, produits et services offerts par les fournisseurs locaux ; Faire le suivi des impacts socio-économiques des investissements sur le développement du contenu local en termes de création d’emplois et de richesse

                            </div>
                        </div>
                    </div>
                    <div class="panel wt-panel">
                        <div class="acod-head">
                            <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse"  href="#collapsefive5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                    Les services de la BSTP sont-ils payants? Si oui à combien sont fixés les frais d'adhésion des PMEs locales?
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                            </h6>
                        </div>
                        <div id="collapsefive5" class="acod-body collapse">
                            <div class="acod-content p-tb15">
                                Les services de la BSTP sont en effet payants. Pour bénéficier des services de la BSTP, les PMEs locales devront s’acquitter d’une cotisation annuelle de 1,000,000 GNF.
                            </div>
                        </div>
                    </div>
                    <div class="panel wt-panel">
                        <div class="acod-head">
                            <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse"  href="#collapseSix5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                    Quels sont les moyens de paiement des frais annuels?
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                            </h6>
                        </div>
                        <div id="collapseSix5" class="acod-body collapse">
                            <div class="acod-content p-tb15">
                                Les PMEs locales peuvent s’acquitter des frais d’inscription via orange money, mobile money, Paycard, par chèque ou par paiement au comptant dans les bureaux de la BSTP
                            </div>
                        </div>
                    </div>
                    <div class="panel wt-panel">
                        <div class="acod-head">
                            <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse"  href="#collapseEight5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                    Comment puis-je trouver des informations sur la BSTP?
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                            </h6>
                        </div>
                        <div id="collapseEight5" class="acod-body collapse">
                            <div class="acod-content p-tb15">
                                Pour plus d’information, rendez-vous sur le site web de la BSTP, au www.bstpgn.com, ou dans les bureaux de la BSTP ci à la minière, près de la Direction Nationale de la Géologie. Vous pouvez également adresser un courrier à contact@bstpgn.com ou appeler le +224 625 63 21 77.
                            </div>
                        </div>
                    </div>
                    <div class="panel wt-panel">
                        <div class="acod-head">
                            <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse"  href="#collapseNine5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                    Quelle est la forme juridique de la BSTP?
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                            </h6>
                        </div>
                        <div id="collapseNine5" class="acod-body collapse">
                            <div class="acod-content p-tb15">
                                La BSTP est une association à but non lucratif dont les membres sont issus du Gouvernement, du secteur privé guinéen, et des organisations socioprofessionnelles.
                            </div>
                        </div>
                    </div>
                    <div class="panel wt-panel">
                        <div class="acod-head">
                            <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse"  href="#collapseTen5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                    Quel rôle joue le Gouvernement de la République de Guinée dans la gestion de la BSTP?
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                            </h6>
                        </div>
                        <div id="collapseTen5" class="acod-body collapse">
                            <div class="acod-content p-tb15">
                                La BSTP est un outil qui a été lancé par le Ministère des Mines et de la Géologie, en collaboration avec le Ministère de l’Industrie et des PMEs, et le Ministère des Investissements avec l’appui financier et technique du Groupe de la Banque Mondiale. Le Gouvernement de la République de Guinée, sera, au même titre que certains représentants du secteur privé, un membre du conseil d’administration de la BSTP. Ceci dit, le Gouvernement ne sera pas impliqué dans la gestion des activités de la BSTP. En effet, il ne jouera qu’un rôle de contrôle, et se servira de la BSTP comme outil d’évaluation du niveau de développement du contenu local.
                            </div>
                        </div>
                    </div>
                    <div class="panel wt-panel">
                        <div class="acod-head">
                            <h6 class="acod-title text-uppercase">
                                <a data-bs-toggle="collapse"  href="#collapseSeven5" class="collapsed"  >
                                    <!-- <i class="fa fa-cog"></i> -->
                                    Quels sont les secteurs couverts par la BSTP?
                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                </a>
                            </h6>
                        </div>
                        <div id="collapseSeven5" class="acod-body collapse">
                            <div class="acod-content p-tb15">
                                La BSTP aura pour secteur pilote les mines, sur le long terme elle s’ouvrira aux autres secteurs de l’économie guinéenne. Toutes les activités annexes ou connexes aux activités minières telles que l’agriculture, la restauration, la construction, le transport, la logistique, les services professionnels, l’hôtellerie, etc. faisant partie de la chaîne d’approvisionnement des projets miniers sont concernées.                            </div>
                        </div>
                    </div>
                 </div>                                        
             </div>
         </div>
         


 <!-- SECTION CONTENT END -->   
 
